[report]
ignore_errors = True
skip_empty = True

exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover
    raise NotImplementedError
    raise unittest\.SkipTest
    if .PYWIKIBOT_TEST_.*. in os.environ:
    @(abc\.)?abstractmethod
    @deprecated\([^\)]+\)
