throttle.ctrl
pywikibot.lwp
user-*.py
*.bak
*.pyc
*.pyo
*.*~
/.tox
/*.egg
/data*
/category*
logs*
*apicache*
*pycache*
/cache
/cache/*
.cache
.idea
pywikibot.egg-info/
pywikibot/families/
build
dist
docs/_build/
/scripts/userscripts/*
!/scripts/userscripts/__init__.py
.vscode/