language: python

python:
  - '2.7'
  - '2.6'

before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -y python-imaging-tk liblua5.1-dev

install:
  - if [[ $TRAVIS_PYTHON_VERSION == '2.6' ]]; then pip install ordereddict; fi
  - mkdir ~/.pywikibot

  - touch ~/.pywikibot/user-config.py
  - echo "import os" >> ~/.pywikibot/user-config.py
  - echo "mylang = '$LANGUAGE'" >> ~/.pywikibot/user-config.py
  - echo "family = '$FAMILY'" >> ~/.pywikibot/user-config.py
  - echo "usernames['$FAMILY']['$LANGUAGE'] = 'Pywikibot-test'" >> ~/.pywikibot/user-config.py
  - echo "usernames['wikipedia']['en'] = 'Pywikibot-test'" >> ~/.pywikibot/user-config.py
  - echo "password_file = os.path.expanduser('~/.pywikibot/passwordfile')" >> ~/.pywikibot/user-config.py

  - touch ~/.pywikibot/passwordfile
  - echo "('Pywikibot-test', '"$USER_PASSWORD"')" > ~/.pywikibot/passwordfile

  - cd externals/httplib2
  - python setup.py install
  - cd ../..

  - pip install unittest2

script:
  - python setup.py test

env:
  global:
    # This is the encrypted password, which can only be decrypted by Travis itself
    # See http://docs.travis-ci.com/user/encryption-keys/
    # And http://docs.travis-ci.com/user/build-configuration/#Secure-environment-variables
    # Command use to generate: travis encrypt USER_PASSWORD=<pwd> -r wikimedia/pywikibot-core
    - secure: kofInMlisiTBt9o/Ustc/vySlkKfxGzGCX2LwA1D2waym8sDTS0o5gMJ5LsrT/BUKwZbe1vLozPHqZrrkQvsdTml+DpZuotzdILs0m0f3BUoexEC6OON5IDljuxFyETrD1Ug44ih5Mc4lVFOdTcBzg501ZmswGwQrBvg/OyEFfE=
  matrix:
    - LANGUAGE=en FAMILY=wikipedia
    - LANGUAGE=ar FAMILY=wikipedia PYSETUP_TEST_EXTRAS=1
    - LANGUAGE=test FAMILY=wikidata
    - LANGUAGE=fr FAMILY=wiktionary

notifications:
  irc:
    channels:
      - "chat.freenode.net#pywikibot"
    on_success: change
    on_failure: always
