# This is a PIP 6+ requirements file for development dependencies
#
pytest>=3.6.0
pytest-timeout
pytest-runner
pytest-cov>=2.6.1
pytest-attrib>=0.1.3
pytest-httpbin

six

nose
git+https://github.com/jayvdb/nosetrim@py3

pep257>=0.6
pyflakes>=2.1.0
flake8>=3.7.5
flake8-docstrings>=0.2.6
flake8-mock>=0.3
codecov
coverage
mock ; python_version < '3'

# pywin32 & pywinauto>=0.4.0 are Win32 UI test dependencies that have been
# excluded from this file as they are quite expensive to install, and they
# are not useful on the Appveyor Win32 builds since the relevant UI tests
# also require accessing the menu of the console window, which doesn't exist
# in the Appveyor environment.
