# This is a PIP 6+ requirements file for development dependencies
#
unittest2==0.8.0 ; python_full_version == '2.7.2'

pytest>=2.8.0
pytest-timeout
pytest-runner
pytest-cov
pytest-attrib
pytest-httpbin
httpbin<0.6.0 ; os_name != 'posix'

six

nose
git+https://github.com/jayvdb/nosetrim@py3

pep257>=0.6
pyflakes>=0.9
flake8
flake8-docstrings>=0.2.6
flake8-mock>=0.3
codecov
coverage
mock ; python_version < '3'

# vcrpy requires yarl in Python 3.4, yarl v1.0.0 requires multidict>=4.0.0,
# multidict v4.0.0 requires Python>=3.4.1 (T185000)
yarl<1.0.0 ; python_version == "3.4" and python_full_version < "3.4.1"
multidict<4.0.0,>=2.0 ; python_version == "3.4" and python_full_version < "3.4.1"
vcrpy-unittest

# pywin32 & pywinauto>=0.4.0 are Win32 UI test dependencies that have been
# excluded from this file as they are quite expensive to install, and they
# are not useful on the Appveyor Win32 builds since the relevant UI tests
# also require accessing the menu of the console window, which doesnt exist
# in the Appveyor environment.
