# This is a PIP requirements file for using Pywikibot and scripts
#
# All dependencies can be installed using:
# $ sudo pip install -r requirements.txt
#
# It is organised so that simple requirements
# are processed first, and more difficult packages
# are last.
#
# It is good practise to install packages using the system
# package manager if it has a packaged version.  If you are
# unsure, please use pip as described at the top of the file.
#
# To get a list of potential matches, use
#
# $ awk -F '[#>=]' '{print $1}' requirements.txt | xargs yum search
#     or
# $ awk -F '[#>=]' '{print $1}' requirements.txt | xargs apt-cache search

# mandatory dependencies, others are optional
mwparserfromhell>=0.7.2
packaging>=25.0
requests>=2.32.3

# MediaWiki markup parser
# mwparserfromhell is mandatory but wikitextparser can be used instead
# mwparserfromhell is still required for commons_information.py and patrol.py
# wikitextparser is required for Page.authorship()
wikitextparser>=0.56.4

# OAuth support
# Due to T380270 PyJWT must be set
PyJWT != 2.10.0, != 2.10.1
mwoauth>=0.4.0

# interwiki_graph.py module and category_graph.py script:
pydot >= 4.0.1

# cosmetic_changes
python-stdnum >= 2.2

# GUI
# Pillow cannot be installed with GraalPy
Pillow==10.4.0; platform_python_implementation == "PyPy" and python_version == "3.9"
Pillow==11.3.0; platform_python_implementation == "PyPy" and python_version == "3.10"
Pillow==12.1.0; platform_python_implementation == "PyPy" and python_version >= "3.11"
Pillow==11.3.0; platform_python_implementation == "CPython" and python_version == "3.9"
Pillow>=12.1.0; platform_python_implementation == "CPython" and  python_version >= "3.10"

# core pagegenerators
googlesearch-python >= 1.3.0
requests-sse >= 0.5.2

# The mysql generator in pagegenerators depends on PyMySQL
PyMySQL >= 1.1.2

# core HTML comparison parser in diff module
beautifulsoup4>=4.14.3

# scripts/weblinkchecker.py
memento_client==0.6.1

# optional but also needed for tests
fake-useragent >= 2.2.0
