# This file is DEPRECATED! Use `pip install pywikibot[security]` instead.

requests>=2.20.0

# requests security extra
requests[security] ; python_full_version > '2.7.6' and python_full_version < '2.7.9'
