# This is a PIP 6+ requirements file for using Pywikibot and scripts
#
# All dependencies can be installed using:
# $ sudo pip install -r requirements.txt
#
# It is organised so that simple requirements
# are processed first, and more difficult packages
# are last.
# All dependencies other than requests are optional.
#
# It is good practise to install packages using the system
# package manager if it has a packaged version.  If you are
# unsure, please use pip as described at the top of the file.
#
# To get a list of potential matches, use
#
# $ awk -F '[#>=]' '{print $1}' requirements.txt | xargs yum search
#     or
# $ awk -F '[#>=]' '{print $1}' requirements.txt | xargs apt-cache search

# mandatory; see README.conversion.txt
requests>=2.4.1,!=2.18.2

# requests security extra
pyOpenSSL>=0.14,!=17.2.0 ; python_full_version < '2.7.9'
cryptography>=1.3.4 ; python_full_version < '2.7.9'
idna>=2.0.0 ; python_full_version < '2.7.9'
# https://github.com/eliben/pycparser/issues/147
pycparser != 2.14

future>=0.15.0 ; python_full_version < '2.7.3'

ipaddr>=2.1.10 ; python_version < '3'

unicodedata2>=7.0.0-2 ; python_version < '3'

# OAuth support
# mwoauth 0.2.4 is needed because it supports getting identity information
# about the user
mwoauth>=0.2.4,!=0.3.1

# core interwiki_graph.py:
git+https://github.com/nlhepler/pydot#egg=pydot-1.0.29

# wikistats.py and scripts
unicodecsv!=0.14.0 ; python_version < '2.7'
unicodecsv ; python_version < '3' and python_version >= '2.7'

# cosmetic_changes and scripts/isbn
python-stdnum

# GUI
Pillow<3.5.0 ; python_version < '2.7'
Pillow ; python_version >= '2.7'

# core pagegenerators
google >= 1.7
sseclient

# scripts/script_wui.py:
crontab

# scipts/replicate_wiki.py and scripts/editarticle.py
argparse ; python_version < '2.7'

# scripts/flickrripper.py
# On Python 2, flickrapi 1.4.x or 2.x may be used.  Only 2.x works on Python 3.
# The following automatically selects 2.x on all Python versions, which depends
# on requests 2.x, which may cause pip to report an error like the following:
#   pkg_resources.VersionConflict: (requests 1.2.3 (/usr/lib/python2.7/site-packages), Requirement.parse('requests>=2.2.1'))
# If you see that on Python 2, change this to flickrapi==1.4.5
# On Python 3, force pip to install requests 2.2.1, or remove flickrapi below.
flickrapi>=1.4.5,<2 ; python_version < '2.7'
flickrapi ; python_version >= '2.7'

# incomplete core component botirc
irc ; python_version > '2.6'

# textlib.py and patrol.py
mwparserfromhell>=0.3.3 ; python_version <= '3.4'

# The mysql generator in pagegenerators depends on either oursql or MySQLdb
# pywikibot prefers oursql.  Both are Python 2 only; T89976.
oursql ; python_version < '3'

# scripts/script_wui.py depends on Lua, which is not available using pip
# but can be obtained from: https://github.com/bastibe/lunatic-python
# However, a better fork is: https://github.com/AlereDevices/lunatic-python
# Also script_wui.py is not currently functional, so it isnt installed here.

# core HTML comparison parser in diff module
beautifulsoup4

# scripts/states_redirect.py
pycountry

# scripts/weblinkchecker.py
memento_client>=0.5.1,!=0.6.0

# tools/__init__.py
# pywikibot prefers using the inbuilt bz2 module if python was compiled with
# bz2 support. But if it wasn't, bz2file is used instead.
# bz2file
