#
# This is only an example. Don't use it.
#
# Refer the manual for its construction at:
# https://www.mediawiki.org/wiki/Manual:Pywikibot/fixes.py#Construction_of_a_fix

fixes['example'] = {
    'regex': True,
    'msg': {
        '_default': 'no summary specified',
    },
    'replacements': [
        (r'\bword\b', 'two words'),
    ]
}
