# This is a sample file. You can use generate_user_files script
# to create your user-config.py file:
# pwb generate_user_files

mylang = 'en'
family = 'wikipedia'
usernames['wikipedia']['en'] = 'Test'
