# -*- coding: utf-8  -*-

#
# This is only an example. Don't use it.
#

fixes['example'] = {
    'regex': True,
    'msg': {
        '_default': u'no summary specified',
    },
    'replacements': [
        (r'\bword\b', u'two words'),
    ]
}

