# -*- coding: utf-8 -*-

#
# This is only an example. Don't use it.
#
from __future__ import unicode_literals

fixes['example'] = {
    'regex': True,
    'msg': {
        '_default': 'no summary specified',
    },
    'replacements': [
        (r'\bword\b', 'two words'),
    ]
}

