interactions:
- request:
    body: !!python/unicode modules=query%2Babusefilters%7Cquery%2Babuselog%7Cquery%2Ballcategories%7Cquery%2Balldeletedrevisions%7Cquery%2Ballfileusages%7Cquery%2Ballimages%7Cquery%2Balllinks%7Cquery%2Ballmessages%7Cquery%2Ballpages%7Cquery%2Ballredirects%7Cquery%2Ballrevisions%7Cquery%2Balltransclusions%7Cquery%2Ballusers%7Cquery%2Bauthmanagerinfo%7Cquery%2Bbabel%7Cquery%2Bbacklinks%7Cquery%2Bbetafeatures%7Cquery%2Bblocks%7Cquery%2Bcategories%7Cquery%2Bcategoryinfo%7Cquery%2Bcategorymembers%7Cquery%2Bcentralnoticelogs%7Cquery%2Bcheckuser%7Cquery%2Bcheckuserlog%7Cquery%2Bcirrusdoc%7Cquery%2Bcontenttranslation%7Cquery%2Bcontenttranslationcorpora%7Cquery%2Bcontenttranslationlangtrend%7Cquery%2Bcontenttranslationstats%7Cquery%2Bcontenttranslationsuggestions%7Cquery%2Bcontributors%7Cquery%2Bcoordinates%7Cquery%2Bcxpublishedtranslations%7Cquery%2Bcxtranslatorstats%7Cquery%2Bdeletedrevisions%7Cquery%2Bdeletedrevs%7Cquery%2Bduplicatefiles%7Cquery%2Bembeddedin%7Cquery%2Bextlinks%7Cquery%2Bextracts%7Cquery%2Bexturlusage%7Cquery%2Bfeatureusage%7Cquery%2Bfilearchive%7Cquery%2Bfilerepoinfo%7Cquery%2Bfileusage%7Cquery%2Bflagged%7Cquery%2Bgadgetcategories%7Cquery%2Bgadgets%7Cquery%2Bgeosearch%7Cquery%2Bgettingstartedgetpages&action=paraminfo&format=json&maxlag=5
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://en.wikipedia.org/w/api.php
  response:
    body: {string: !!python/unicode '{"paraminfo":{"helpformat":"none","modules":[{"name":"abusefilters","classname":"ApiQueryAbuseFilters","path":"query+abusefilters","group":"list","prefix":"abf","source":"Abuse
        Filter","sourcename":"Abuse Filter","licensetag":"GPL-2.0+","licenselink":"//en.wikipedia.org/wiki/Special:Version/License/Abuse_Filter","readrights":"","helpurls":[],"parameters":[{"name":"startid","type":"integer"},{"name":"endid","type":"integer"},{"name":"dir","default":"newer","type":["older","newer"]},{"name":"show","multi":"","lowlimit":50,"highlimit":500,"limit":50,"type":["enabled","!enabled","deleted","!deleted","private","!private"]},{"name":"limit","default":10,"type":"limit","max":500,"highmax":5000,"min":1},{"name":"prop","default":"id|description|actions|status","multi":"","lowlimit":50,"highlimit":500,"limit":50,"type":["id","description","pattern","actions","hits","comments","lasteditor","lastedittime","status","private"]}]},{"name":"abuselog","classname":"ApiQueryAbuseLog","path":"query+abuselog","group":"list","prefix":"afl","source":"Abuse
        Filter","sourcename":"Abuse Filter","licensetag":"GPL-2.0+","licenselink":"//en.wikipedia.org/wiki/Special:Version/License/Abuse_Filter","readrights":"","helpurls":[],"parameters":[{"name":"start","type":"timestamp"},{"name":"end","type":"timestamp"},{"name":"dir","default":"older","type":["newer","older"]},{"name":"user","type":"string"},{"name":"title","type":"string"},{"name":"filter","multi":"","lowlimit":50,"highlimit":500,"limit":50,"type":"string"},{"name":"limit","default":10,"type":"limit","max":500,"highmax":5000,"min":1},{"name":"prop","default":"ids|user|title|action|result|timestamp|hidden|revid","multi":"","lowlimit":50,"highlimit":500,"limit":50,"type":["ids","filter","user","ip","title","action","details","result","timestamp","hidden","revid"]}]},{"name":"allcategories","classname":"ApiQueryAllCategories","path":"query+allcategories","group":"list","prefix":"ac","source":"MediaWiki","sourcename":"MediaWiki","licensetag":"GPL-2.0+","licenselink":"//en.wikipedia.org/wiki/Special:Version/License/MediaWiki","readrights":"","generator":"","helpurls":["https://www.mediawiki.org/wiki/Special:MyLanguage/API:Allcategories"],"parameters":[{"name":"from","type":"string"},{"name":"continue","type":"string"},{"name":"to","type":"string"},{"name":"prefix","type":"string"},{"name":"dir","default":"ascending","type":["ascending","descending"]},{"name":"min","type":"integer"},{"name":"max","type":"integer"},{"name":"limit","default":10,"type":"limit","max":500,"highmax":5000,"min":1},{"name":"prop","default":"","multi":"","lowlimit":50,"highlimit":500,"limit":50,"type":["size","hidden"]}]},{"name":"alldeletedrevisions","classname":"ApiQueryAllDeletedRevisions","path":"query+alldeletedrevisions","group":"list","prefix":"adr","source":"MediaWiki","sourcename":"MediaWiki","licensetag":"GPL-2.0+","licenselink":"//en.wikipedia.org/wiki/Special:Version/License/MediaWiki","readrights":"","generator":"","helpurls":["https://www.mediawiki.org/wiki/Special:MyLanguage/API:Alldeletedrevisions"],"parameters":[{"name":"prop","default":"ids|timestamp|flags|comment|user","multi":"","lowlimit":50,"highlimit":500,"limit":50,"type":["ids","flags","timestamp","user","userid","size","sha1","contentmodel","comment","parsedcomment","content","tags","parsetree"]},{"name":"limit","type":"limit","max":500,"highmax":5000,"min":1},{"name":"expandtemplates","deprecated":"","type":"boolean"},{"name":"generatexml","deprecated":"","type":"boolean"},{"name":"parse","deprecated":"","type":"boolean"},{"name":"section","type":"string"},{"name":"diffto","deprecated":"","type":"string"},{"name":"difftotext","deprecated":"","type":"string"},{"name":"difftotextpst","deprecated":"","type":"boolean"},{"name":"contentformat","type":["application/json","text/plain","text/x-wiki","text/javascript","text/css"]},{"name":"user","type":"user"},{"name":"namespace","multi":"","lowlimit":50,"highlimit":500,"limit":50,"type":"namespace","allspecifier":"*"},{"name":"start","type":"timestamp","info":[{"name":"useronly"}]},{"name":"end","type":"timestamp","info":[{"name":"useronly"}]},{"name":"dir","default":"older","type":["newer","older"]},{"name":"from","type":"string","info":[{"name":"nonuseronly"}]},{"name":"to","type":"string","info":[{"name":"nonuseronly"}]},{"name":"prefix","type":"string","info":[{"name":"nonuseronly"}]},{"name":"excludeuser","type":"user","info":[{"name":"nonuseronly"}]},{"name":"tag","type":"string"},{"name":"continue","type":"string"},{"name":"generatetitles","ty[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: GET
    uri: https://en.wikipedia.org/w/api.php?action=paraminfo&modules=query%2Babusefilters%7Cquery%2Babuselog%7Cquery%2Ballcategories%7Cquery%2Balldeletedrevisions%7Cquery%2Ballfileusages%7Cquery%2Ballimages%7Cquery%2Balllinks%7Cquery%2Ballmessages%7Cquery%2Ballpages%7Cquery%2Ballredirects%7Cquery%2Ballrevisions%7Cquery%2Balltransclusions%7Cquery%2Ballusers%7Cquery%2Bauthmanagerinfo%7Cqu[...]
- request:
    body: null
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: GET
    uri: https://en.wikipedia.org/w/api.php?action=paraminfo&modules=query%2Bglobalallusers%7Cquery%2Bglobalblocks%7Cquery%2Bglobalgroups%7Cquery%2Bglobalrenamestatus%7Cquery%2Bglobalusage%7Cquery%2Bglobaluserinfo%7Cquery%2Bimageinfo%7Cquery%2Bimages%7Cquery%2Bimageusage%7Cquery%2Binfo%7Cquery%2Biwbacklinks%7Cquery%2Biwlinks%7Cquery%2Blangbacklinks%7Cquery%2Blanglinks%7Cquery%2Blanglink[...]
- request:
    body: null
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: GET
    uri: https://en.wikipedia.org/w/api.php?action=paraminfo&modules=query%2Btags%7Cquery%2Btemplates%7Cquery%2Btranscludedin%7Cquery%2Btranscodestatus%7Cquery%2Bunreadnotificationpages%7Cquery%2Busercontribs%7Cquery%2Buserinfo%7Cquery%2Busers%7Cquery%2Bvideoinfo%7Cquery%2Bwatchlist%7Cquery%2Bwatchlistraw%7Cquery%2Bwbentityusage%7Cquery%2Bwblistentityusage%7Cquery%2Bwikibase%7Cquery%2Bw[...]
