interactions:
- request:
    body: null
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: GET
    uri: https://en.wikipedia.org/w/api.php?uiprop=blockinfo%7Chasmsg&continue=&meta=siteinfo%7Cuserinfo&maxlag=5&siprop=namespaces%7Cnamespacealiases%7Cgeneral&action=query&format=json
  response:
    body: {string: '{"batchcomplete":"","query":{"namespaces":{"-2":{"id":-2,"case":"first-letter","canonical":"Media","*":"Media"},"-1":{"id":-1,"case":"first-letter","canonical":"Special","*":"Special"},"0":{"id":0,"case":"first-letter","content":"","*":""},"1":{"id":1,"case":"first-letter","subpages":"","canonical":"Talk","*":"Talk"},"2":{"id":2,"case":"first-letter","subpages":"","canonical":"User","*":"User"},"3":{"id":3,"case":"first-letter","subpages":"","canonical":"User
        talk","*":"User talk"},"4":{"id":4,"case":"first-letter","subpages":"","canonical":"Project","*":"Wikipedia"},"5":{"id":5,"case":"first-letter","subpages":"","canonical":"Project
        talk","*":"Wikipedia talk"},"6":{"id":6,"case":"first-letter","canonical":"File","*":"File"},"7":{"id":7,"case":"first-letter"[...]
- request:
    body: null
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: GET
    uri: https://en.wikipedia.org/w/api.php?modules=main%7Cparaminfo%7Cquery&action=paraminfo&format=json&maxlag=5
  response:
    body: {string: '{"paraminfo":{"helpformat":"none","modules":[{"name":"main","classname":"ApiMain","path":"main","prefix":"","source":"MediaWiki","sourcename":"MediaWiki","licensetag":"GPL-2.0+","licenselink":"//en.wikipedia.org/wiki/Special:Version/License/MediaWiki","helpurls":[],"parameters":[{"name":"action","default":"help","type":["abusefiltercheckmatch","abusefilterchecksyntax","abusefilterevalexpression","abusefilterunblockautopromote","addstudents","antispoof","block","bouncehandler","categorytree","centralauthtoken","centralnoticecdncacheupdatebanner","centralnoticechoicedata","centralnoticequerycampaign","changeauthenticationdata","checktoken","cirrus-config-dump","cirrus-mapping-dump","cirrus-settings-dump","clearhasmsg","clientlogin","compare","createaccount","cspreport","cxconfiguration","cxdelete","cxpublish","c[...]
- request:
    body: modules=abusefiltercheckmatch%7Cabusefilterchecksyntax%7Cabusefilterevalexpression%7Cabusefilterunblockautopromote%7Caddstudents%7Cantispoof%7Cblock%7Cbouncehandler%7Ccategorytree%7Ccentralauthtoken%7Ccentralnoticecdncacheupdatebanner%7Ccentralnoticechoicedata%7Ccentralnoticequerycampaign%7Cchangeauthenticationdata%7Cchecktoken%7Ccirrus-config-dump%7Ccirrus-mapping-dump%7Ccirrus-settings-dump%7Cclearhasmsg%7Cclientlogin%7Ccompare%7Ccreateaccount%7Ccspreport%7Ccxconfiguration%7Ccxdelete%7Ccxpublish%7Ccxsave%7Ccxsuggestionlist%7Ccxtoken%7Cdelete%7Cdeleteeducation%7Cdeleteglobalaccount%7Cechomarkread%7Cechomarkseen%7Cedit%7Ceditmassmessagelist%7Cemailuser%7Cenlist%7Cexpandtemplates%7Cfancycaptchareload%7Cfeaturedfeed%7Cfeedcontributions%7Cfeedrecentchanges%7Cfeedwatchlist%7Cfilerevert%7Cflagconfig%7Cglobalblock%7Cglobaluserrights%7Cgraph%7Chelp&action=paraminfo&format=json&maxlag=5
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://en.wikipedia.org/w/api.php
  response:
    body: {string: '{"paraminfo":{"helpformat":"none","modules":[{"name":"abusefiltercheckmatch","classname":"ApiAbuseFilterCheckMatch","path":"abusefiltercheckmatch","group":"action","prefix":"","source":"Abuse
        Filter","sourcename":"Abuse Filter","licensetag":"GPL-2.0+","licenselink":"//en.wikipedia.org/wiki/Special:Version/License/Abuse_Filter","readrights":"","helpurls":[],"parameters":[{"name":"filter","required":"","type":"string"},{"name":"vars","type":"string"},{"name":"rcid","type":"integer"},{"name":"logid","type":"integer"}]},{"name":"abusefilterchecksyntax","classname":"ApiAbuseFilterCheckSyntax","path":"abusefilterchecksyntax","group":"action","prefix":"","source":"Abuse
        Filter","sourcename":"Abuse Filter","licensetag":"GPL-2.0+","licenselink":"//en.wikipedia.org/wiki/Special:Version/License/Abuse_Filter","readrights":"","helpurls":[],"parameters":[{"name":"filter","required":"","type":"string"}]},{"name":"abusefilterevalexpression","classname":"ApiAbuseFilterEvalExpression","path":"abusefilterevalexpression","group":"action","prefix":"","source":"Abuse
        Filter","sourcename":"Abuse Filter","licensetag":"GPL-2.0+","licenselink":"//en.wikipedia.org/wiki/Special:Version/License/Abuse_Filter","readrights":"","helpurls":[],"parameters":[{"name":"expression","required":"","type":"string"}]},{"name":"abusefilterunblockautopromote","classname":"ApiAbuseFilterUnblockAutopromote","path":"abusefilterunblockautopromote","group":"action","prefix":"","source":"Abuse
        Filter","sourcename":"Abuse Filter","licensetag":"GPL-2.0+","licenselink":"//en.wikipedia.org/wiki/Special:Version/License/Abuse_Filter","readrights":"","writerights":"","mustbeposted":"","helpurls":[],"parameters":[{"name":"user","required":"","type":"user"},{"name":"token","required":"","tokentype":"csrf","type":"string"}]},{"name":"addstudents","classname":"EducationProgram\\ApiAddStudents","path":"addstudents","group":"action","prefix":"","source":"Education
        Program","sourcename":"Education Program","licensetag":"GPL-2.0+","licenselink":"//en.wikipedia.org/wiki/Special:Version/License/Education_Program","readrights":"","mustbeposted":"","helpurls":[],"parameters":[{"name":"studentusernames","required":"","multi":"","lowlimit":50,"highlimit":500,"limit":50,"type":"string"},{"name":"courseid","required":"","type":"integer"},{"name":"token","required":"","tokentype":"csrf","type":"string"}]},{"name":"antispoof","classname":"ApiAntiSpoof","path":"antispoof","group":"action","prefix":"","source":"AntiSpoof","sourcename":"AntiSpoof","licensetag":"GPL-2.0+","licenselink":"//en.wikipedia.org/wiki/Special:Version/License/AntiSpoof","readrights":"","helpurls":[],"parameters":[{"name":"username","required":"","type":"string"}]},{"name":"block","classname[...]
[...]
