interactions:
- request:
    body: null
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: GET
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&maxlag=5&continue=&uiprop=blockinfo%7Chasmsg&siprop=namespaces%7Cnamespacealiases%7Cgeneral&meta=siteinfo%7Cuserinfo
  response:
    body: {string: '{"batchcomplete":"","query":{"namespaces":{"-2":{"id":-2,"case":"first-letter","canonical":"Media","*":"Media"},"-1":{"id":-1,"case":"first-letter","canonical":"Special","*":"Special"},"0":{"id":0,"case":"first-letter","content":"","*":""},"1":{"id":1,"case":"first-letter","subpages":"","canonical":"Talk","*":"Talk"},"2":{"id":2,"case":"first-letter","subpages":"","canonical":"User","*":"User"},"3":{"id":3,"case":"first-letter","subpages":"","canonical":"User
        talk","*":"User talk"},"4":{"id":4,"case":"first-letter","subpages":"","canonical":"Project","*":"Wikipedia"},"5":{"id":5,"case":"first-letter","subpages":"","canonical":"Project
        talk","*":"Wikipedia talk"},"6":{"id":6,"case":"first-letter","canonical":"File","*":"File"},"7":{"id":7,"case":"first-letter"[...]
- request:
    body: null
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: GET
    uri: https://en.wikipedia.org/w/api.php?modules=main%7Cparaminfo%7Cquery&action=paraminfo&format=json&maxlag=5
  response:
    body: {string: '{"paraminfo":{"helpformat":"none","modules":[{"name":"main","classname":"ApiMain","path":"main","prefix":"","source":"MediaWiki","sourcename":"MediaWiki","licensetag":"GPL-2.0+","licenselink":"//en.wikipedia.org/wiki/Special:Version/License/MediaWiki","helpurls":[],"parameters":[{"name":"action","default":"help","type":["abusefiltercheckmatch","abusefilterchecksyntax","abusefilterevalexpression","abusefilterunblockautopromote","addstudents","antispoof","block","bouncehandler","categorytree","centralauthtoken","centralnoticecdncacheupdatebanner","centralnoticechoicedata","centralnoticequerycampaign","changeauthenticationdata","checktoken","cirrus-config-dump","cirrus-mapping-dump","cirrus-settings-dump","clearhasmsg","clientlogin","compare","createaccount","cspreport","cxconfiguration","cxdelete","cxpublish","c[...]
- request:
    body: null
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: GET
    uri: https://en.wikipedia.org/w/api.php?modules=query%2Binfo&action=paraminfo&format=json&maxlag=5
  response:
    body: {string: '{"paraminfo":{"helpformat":"none","modules":[{"name":"info","classname":"ApiQueryInfo","path":"query+info","group":"prop","prefix":"in","source":"MediaWiki","sourcename":"MediaWiki","licensetag":"GPL-2.0+","licenselink":"//en.wikipedia.org/wiki/Special:Version/License/MediaWiki","readrights":"","helpurls":["https://www.mediawiki.org/wiki/Special:MyLanguage/API:Info"],"parameters":[{"name":"prop","multi":"","lowlimit":50,"highlimit":500,"limit":50,"type":["protection","talkid","watched","watchers","visitingwatchers","notificationtimestamp","subjectid","url","readable","preload","displaytitle"]},{"name":"testactions","multi":"","lowlimit":50,"highlimit":500,"limit":50,"type":"string"},{"name":"token","deprecated":"","multi":"","lowlimit":50,"highlimit":500,"limit":50,"type":["edit","delete","protect","move","block","unblock","email","import","watch"]},{"name":"continue","type":"string"}]}]}}'}
    headers:
      Backend-Timing: [D=24948 t=1515548569058407]
      Content-Disposition: [inline; filename="api-result.json"]
      Content-Type: [application/json; charset=utf-8]
      X-Analytics: [ns=-1;special=Badtitle;https=1;nocookies=1]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: GET
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&maxlag=5&continue=&uiprop=blockinfo%7Chasmsg&siprop=extensions&meta=siteinfo%7Cuserinfo
  response:
    body: {string: '{"batchcomplete":"","query":{"extensions":[{"type":"specialpage","name":"Flagged
        Revisions","descriptionmsg":"flaggedrevs-desc","author":"Aaron Schulz, Joerg
        Baach","url":"https://www.mediawiki.org/wiki/Extension:FlaggedRevs","vcs-system":"git","vcs-version":"7056af5a6b8ff1f7b9a593509a8bd459c9fafb59","vcs-url":"https://phabricator.wikimedia.org/r/revision/mediawiki/extensions/FlaggedRevs;7056af5a6b8ff1f7b9a593509a8bd459c9fafb59","vcs-date":"2018-01-02T09:08:04Z","license-name":"GPL-2.0+","license":"/wiki/Special:Version/License/Flagged_Revisions"},{"type":"specialpage","name":"Collection","descriptionmsg":"coll-desc","author":"PediaPress
        GmbH, Siebrand Mazeland, Marcin Cie\u015blak","url":"https://www.mediawiki.org/wiki/Extension:Collection","version":"1.7.0","vcs-system":"git","vcs-version":"89509a6ada20d7a8ee5f5cd740323dfc23c26b2c","vcs-url":"https://phabricator.wikimedia.org/r/revision/mediawiki/extensions/Collection;89509a6ada20d7a8ee5f5cd740323dfc23c26b2c","vcs-date":"2018-01-02T09:07:59Z","license-name":"GPL-2.0+","license":"/wiki/Special:Version/License/Collection"},{"type":"specialpage","name":"SiteMatrix","descriptionmsg":"sitematrix-desc","author":"Tim
        Starling, Brion Vibber, Victor Vasiliev, Alexandre Emsenhuber, Sam Reed",[...]
- request:
    body: null
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: GET
    uri: https://en.wikipedia.org/w/api.php?inprop=protection&action=query&format=json&maxlag=5&prop=info&meta=userinfo&continue=&uiprop=blockinfo%7Chasmsg&indexpageids=&titles=Main+Page
  response:
    body: {string: '{"batchcomplete":"","query":{"pageids":["15580374"],"pages":{"15580374":{"pageid":15580374,"ns":0,"title":"Main
        Page","contentmodel":"wikitext","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr","touched":"2018-01-10T01:34:52Z","lastrevid":807996266,"length":6029,"protection":[{"type":"edit","level":"sysop","expiry":"infinity","cascade":""},{"type":"move","level":"sysop","expiry":"infinity"},{"type":"edit","level":"sysop","expiry":"infinity","source":"Wikipedia:Cascade-protected
        items/Main Page"},{"type":"edit","level":"sysop","expiry":"infinity","source":"Wikipedia:Cascade-protected
        items/Main Page/2"},{"type":"edit","level":"sysop","expiry":"infinity","source":"Wikipedia:Cascade-protected
        items/Main Page/3"},{"type":"edit","level":"sysop","expiry":"infinity","source":"Wikipedia:Cascade-protected
        items/Main Page/4"},{"type":"edit","level":"sysop","expiry":"infinity","source":"Wikipedia:Cascade-protected
        items/Main Page/5"}],"restrictiontypes":["edit","move"]}},"userinfo":{"id":0,"name":"192.0.2.42","anon":""}}}'}
    headers:
      Backend-Timing: [D=37938 t=1515548569543767]
      Content-Disposition: [inline; filename="api-result.json"]
      Content-Type: [application/json; charset=utf-8]
      X-Analytics: [ns=-1;special=Badtitle;https=1;nocookies=1]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: GET
    uri: https://en.wikipedia.org/w/api.php?rawcontinue=&action=query&meta=userinfo&maxlag=5&prop=info&uiprop=blockinfo%7Chasmsg&titles=Main+Page&format=json
  response:
    body: {string: '{"query":{"pages":{"15580374":{"pageid":15580374,"ns":0,"title":"Main
        Page","contentmodel":"wikitext","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr","touched":"2018-01-10T01:34:52Z","lastrevid":807996266,"length":6029}},"userinfo":{"id":0,"name":"192.0.2.42","anon":""}}}'}
    headers:
      Backend-Timing: [D=33017 t=1515548569789432]
      Content-Disposition: [inline; filename="api-result.json"]
      Content-Type: [application/json; charset=utf-8]
      X-Analytics: [ns=-1;special=Badtitle;https=1;nocookies=1]
    status: {code: 200, message: OK}
version: 1
