/** css/pywikibot.css **/

/** logo slightly smaller than default to preserve vertical space **/
.sidebar-logo {
    max-width: 75%;
}

/** brand text in the sidebar smaller than default **/
.sidebar-brand-text {
    font-size: 1rem;
}

/** border highlight for links in article content **/
article a:hover {
    box-shadow: 0 0 0 .125rem var(--color-link);
    border-radius: .125rem;
    text-decoration: none;
    padding-bottom: .110rem;
}

/** better readability of toctree captions **/
.toctree-wrapper .caption {
    font-weight: bolder;
    margin-bottom: .5rem !important;
}

/** disable centering of tables by default in regular content **/
table.align-default {
    margin-left: unset;
    margin-right: unset;
}
