interactions:
- request:
    body: null
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=query&meta=siteinfo%7Cuserinfo&siprop=namespaces%7Cnamespacealiases%7Cgeneral&continue=&uiprop=blockinfo%7Chasmsg&maxlag=5&format=json
  response:
    body: {string: '{"batchcomplete":"","query":{"namespaces":{"-2":{"id":-2,"case":"first-letter","canonical":"Media","*":"Media"},"-1":{"id":-1,"case":"first-letter","canonical":"Special","*":"Special"},"0":{"id":0,"case":"first-letter","content":"","defaultcontentmodel":"wikibase-item","*":""},"1":{"id":1,"case":"first-letter","subpages":"","canonical":"Talk","*":"Talk"},"2":{"id":2,"case":"first-letter","subpages":"","canonical":"User","*":"User"},"3":{"id":3,"case":"first-letter","subpages":"","canonical":"User
        talk","*":"User talk"},"4":{"id":4,"case":"first-letter","subpages":"","canonical":"Project","*":"Wikidata"},"5":{"id":5,"case":"first-letter","subpages":"","canonical":"Project
        talk","*":"Wikidata talk"},"6":{"id":6,"case":"first-letter","canonical":"File","*":"File"},"7":{"id":7,"case":"first-letter","[...]
- request:
    body: null
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: GET
    uri: https://meta.wikimedia.org/w/api.php?action=query&meta=siteinfo%7Cuserinfo&siprop=namespaces%7Cnamespacealiases%7Cgeneral&continue=&uiprop=blockinfo%7Chasmsg&maxlag=5&format=json
  response:
    body: {string: '{"batchcomplete":"","query":{"namespaces":{"-2":{"id":-2,"case":"first-letter","canonical":"Media","*":"Media"},"-1":{"id":-1,"case":"first-letter","canonical":"Special"[...]
- request:
    body: null
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: GET
    uri: https://meta.wikimedia.org/w/api.php?action=paraminfo&modules=main%7Cparaminfo%7Cquery&maxlag=5&format=json
  response:
    body: {string: '{"paraminfo":{"helpformat":"none","modules":[{"name":"main","classname":"ApiMain","path":"main","prefix":"","source":"MediaWiki","sourcename":"MediaWiki","licensetag":"GPL-2.0+","licenselink":"//meta.wikimedia.org/wiki/Special:Version/License/MediaWiki","helpurls":[],"parameters":[{"name":"action","default":"help","type":["abusefiltercheckmatch","abusefilterchecksyntax","abusefilterevalexpression","abusefilterunblockautopromote","aggregategroups","antispoof","block","bouncehandler","categorytree","centralauthtoken","centralnoticecdncacheupdatebanner","centralnoticechoicedata","centralnoticequerycampaign","changeauthenticationdata","checktoken","cirrus-config-dump","cirrus-mapping-dump","cirrus-settings-dump","clearhasmsg","clientlogin","compare","createaccount","cspreport","delete","deleteglobalaccount","echomar[...]
- request:
    body: null
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: GET
    uri: https://meta.wikimedia.org/w/api.php?action=paraminfo&modules=sitematrix&maxlag=5&format=json
  response:
    body: {string: '{"paraminfo":{"helpformat":"none","modules":[{"name":"sitematrix","classname":"ApiSiteMatrix","path":"sitematrix","group":"action","prefix":"sm","source":"SiteMatrix","sourcename":"SiteMatrix","licensetag":"GPL-2.0+","licenselink":"//meta.wikimedia.org/wiki/Special:Version/License/SiteMatrix","readrights":"","helpurls":[],"parameters":[{"name":"type","default":"special|language","multi":"","lowlimit":50,"highlimit":500,"limit":50,"type":["special","language"]},{"name":"state","default":"all","multi":"","lowlimit":50,"highlimit":500,"limit":50,"type":["all","closed","private","fishbowl","nonglobal"]},{"name":"langprop","default":"code|name|site|dir|localname","multi":"","lowlimit":50,"highlimit":500,"limit":50,"type":["code","name","site","dir","localname"]},{"name":"siteprop","default":"url|dbname|code|sitename","multi":"","lowlimit":50,"highlimit":500,"limit":50,"type":["url","dbname","code","sitename"]},{"name":"limit","default":5000,"type":"limit","max":5000,"highmax":5000,"min":1},{"name":"continue","type":"string"}]}]}}'}
    headers:
      Backend-Timing: [D=34541 t=1516019636417102]
      Content-Disposition: [inline; filename="api-result.json"]
      Content-Type: [application/json; charset=utf-8]
      X-Analytics: [ns=-1;special=Badtitle;https=1;nocookies=1]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: GET
    uri: https://meta.wikimedia.org/w/api.php?action=sitematrix&maxlag=5&format=json
  response:
    body: {string: '{"sitematrix":{"count":911,"0":{"code":"aa","name":"Qaf\u00e1r
        af","site":[{"url":"https://aa.wikipedia.org","dbname":"aawiki","code":"wiki","sitename":"Wikipedia","closed":""},{"url":"https://aa.wiktionary.org","dbname":"aawiktionary","code":"wiktionary","sitename":"Wiktionary","closed":""},{"url":"https://aa.wikibooks.org","dbname":"aawikibooks","code":"wikibooks","sitename":"Wikibooks","closed":""}],"dir":"ltr","localname":"Afar"},"1":{"code":"ab","name":"\u0410\u04a7\u0441\u0448\u04d9\u0430","site":[{"url":"https://ab.wikipedia.org","dbname":"abwiki","code":"wiki","sitename":"\u0410\u0432\u0438\u043a\u0438\u043f\u0435\u0434\u0438\u0430"},{"url":"https://ab.wiktionary.org","dbname":"abwiktionary","code":"wiktionary","sitename":"Wiktionary","closed":""}],"dir":"ltr","localname":"Abkhazian"},"2":{"code":"ace","name":"Ac\u00e8h","site":[{"url":"https://ace.wikipedia.org","dbname":"acewiki","code":"wiki","sitename":"W[...]
- request:
    body: null
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: GET
    uri: https://en.wikipedia.org/w/api.php?action=query&meta=siteinfo%7Cuserinfo&siprop=namespaces%7Cnamespacealiases%7Cgeneral&continue=&uiprop=blockinfo%7Chasmsg&maxlag=5&format=json
  response:
    body: {string: '{"batchcomplete":"","query":{"namespaces":{"-2":{"id":-2,"case":"first-letter","canonical":"Media","*":"Media"},"-1":{"id":-1,"case":"first-letter","canonical":"Special","[...]
- request:
    body: null
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: GET
    uri: https://en.wikivoyage.org/w/api.php?action=query&meta=siteinfo%7Cuserinfo&siprop=namespaces%7Cnamespacealiases%7Cgeneral&continue=&uiprop=blockinfo%7Chasmsg&maxlag=5&format=json
  response:
    body: {string: '{"batchcomplete":"","query":{"namespaces":{"-2":{"id":-2,"case":"first-letter","canonical":"Media","*":"Media"},"-1":{"id":-1,"case":"first-letter","canonical":"Special",[...]
- request:
    body: null
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: GET
    uri: https://es.wikipedia.org/w/api.php?action=query&meta=siteinfo%7Cuserinfo&siprop=namespaces%7Cnamespacealiases%7Cgeneral&continue=&uiprop=blockinfo%7Chasmsg&maxlag=5&format=json
  response:
    body: {string: '{"batchcomplete":"","query":{"namespaces":{"-2":{"id":-2,"case":"first-letter","canonical":"Media","*":"Medio"},"-1":{"id":-1,"case":"first-letter","canonical":"Special","[...]
- request:
    body: null
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: GET
    uri: https://es.wikivoyage.org/w/api.php?action=query&meta=siteinfo%7Cuserinfo&siprop=namespaces%7Cnamespacealiases%7Cgeneral&continue=&uiprop=blockinfo%7Chasmsg&maxlag=5&format=json
  response:
    body: {string: '{"batchcomplete":"","query":{"namespaces":{"-2":{"id":-2,"case":"first-letter","canonical":"Media","*":"Medio"},"-1":{"id":-1,"case":"first-letter","canonical":"Special",[...]
