interactions:
- request:
    body: null
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: GET
    uri: https://test.wikidata.org/w/api.php?action=query&uiprop=blockinfo%7Chasmsg&siprop=namespaces%7Cnamespacealiases%7Cgeneral&maxlag=5&meta=siteinfo%7Cuserinfo&continue=&format=json
  response:
    body: {string: '{"batchcomplete":"","query":{"namespaces":{"-2":{"id":-2,"case":"first-letter","canonical":"Media","*":"Media"},"-1":{"id":-1,"case":"first-letter","canonical":"Special","*":"Special"},"0":{"id":0,"case":"first-letter","content":"","defaultcontentmodel":"wikibase-item","*":""},"1":{"id":1,"case":"first-letter","subpages":"","canonical":"Talk","*":"Talk"},"2":{"id":2,"case":"first-letter","subpages":"","canonical":"User","*":"User"},"3":{"id":3,"case":"first-letter","subpages":"","canonical":"User
        talk","*":"User talk"},"4":{"id":4,"case":"first-letter","subpages":"","canonical":"Project","*":"Wikidata"},"5":{"id":5,"case":"first-letter","subpages":"","canonical":"Project
        talk","*":"Wikidata talk"},"6":{"id":6,"case":"first-letter","canonical":"File","*":"File"},"7":{"id":7,"case":"first-letter","[...]
- request:
    body: null
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: GET
    uri: https://test.wikidata.org/w/api.php?action=paraminfo&modules=main%7Cparaminfo%7Cquery&format=json&maxlag=5
  response:
    body: {string: '{"paraminfo":{"helpformat":"none","modules":[{"name":"main","classname":"ApiMain","path":"main","prefix":"","source":"MediaWiki","sourcename":"MediaWiki","licensetag":"GPL-2.0+","licenselink":"//test.wikidata.org/wiki/Special:Version/License/MediaWiki","helpurls":[],"parameters":[{"name":"action","default":"help","type":["abusefiltercheckmatch","abusefilterchecksyntax","abusefilterevalexpression","abusefilterunblockautopromote","aggregategroups","antispoof","block","bouncehandler","categorytree","centralauthtoken","centralnoticecdncacheupdatebanner","centralnoticechoicedata","centralnoticequerycampaign","changeauthenticationdata","checktoken","cirrus-config-dump","cirrus-mapping-dump","cirrus-settings-dump","clearhasmsg","clientlogin","compare","createaccount","cspreport","delete","deleteglobalaccount","echomar[...]
- request:
    body: null
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: GET
    uri: https://test.wikidata.org/w/api.php?action=paraminfo&modules=query%2Binfo&format=json&maxlag=5
  response:
    body: {string: '{"paraminfo":{"helpformat":"none","modules":[{"name":"info","classname":"ApiQueryInfo","path":"query+info","group":"prop","prefix":"in","source":"MediaWiki","sourcename":"MediaWiki","licensetag":"GPL-2.0+","licenselink":"//test.wikidata.org/wiki/Special:Version/License/MediaWiki","readrights":"","helpurls":["https://www.mediawiki.org/wiki/Special:MyLanguage/API:Info"],"parameters":[{"name":"prop","multi":"","lowlimit":50,"highlimit":500,"limit":50,"type":["protection","talkid","watched","watchers","visitingwatchers","notificationtimestamp","subjectid","url","readable","preload","displaytitle"]},{"name":"testactions","multi":"","lowlimit":50,"highlimit":500,"limit":50,"type":"string"},{"name":"token","deprecated":"","multi":"","lowlimit":50,"highlimit":500,"limit":50,"type":["edit","delete","protect","move","block","unblock","email","import","watch"]},{"name":"continue","type":"string"}]}]}}'}
    headers:
      Backend-Timing: [D=33364 t=1515548730796696]
      Content-Disposition: [inline; filename="api-result.json"]
      Content-Type: [application/json; charset=utf-8]
      X-Analytics: [ns=-1;special=Badtitle;https=1;nocookies=1]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: GET
    uri: https://test.wikidata.org/w/api.php?action=query&uiprop=blockinfo%7Chasmsg&siprop=extensions&maxlag=5&meta=siteinfo%7Cuserinfo&continue=&format=json
  response:
    body: {string: '{"batchcomplete":"","query":{"extensions":[{"type":"media","name":"TimedMediaHandler","namemsg":"timedmediahandler-extensionname","descriptionmsg":"timedmediahandler-desc","author":"Michael
        Dale, Tim Starling, James Heinrich, Jan Gerber, Brion Vibber, Derk-Jan Hartman","url":"https://www.mediawiki.org/wiki/Extension:TimedMediaHandler","version":"0.5.0","vcs-system":"git","vcs-version":"703f7689d50115e3187356782ce986222eb62e71","vcs-url":"https://phabricator.wikimedia.org/r/revision/mediawiki/extensions/TimedMediaHandler;703f7689d50115e3187356782ce986222eb62e71","vcs-date":"2018-01-08T21:36:20Z","license-name":"GPL-2.0+","license":"/wiki/Special:Version/License/TimedMediaHandler"},{"type":"media","name":"PagedTiffHandler","descriptionmsg":"tiff-desc","author":"[http://www.hallowelt.biz
        HalloWelt! Medienwerkstatt GmbH], Sebastian Ulbricht, Daniel Lynge, Marc Reymann,
        Markus Glaser for Wikimedia Deutschland","url":"https://www.mediawiki.org/wiki/Extension:PagedTiffHandler","vcs-system":"git","vcs-version":"1d355441ab996bb564ab5bf412f087bd7f1abc8f","vcs-url":"https://phabricator.wikimedia.org/r/revision/media[...]
- request:
    body: null
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: GET
    uri: https://test.wikidata.org/w/api.php?action=query&continue=&prop=info&indexpageids=&maxlag=5&titles=Wikidata%3AMain+Page&uiprop=blockinfo%7Chasmsg&meta=userinfo&inprop=protection&format=json
  response:
    body: {string: '{"batchcomplete":"","query":{"pageids":["1"],"pages":{"1":{"pageid":1,"ns":4,"title":"Wikidata:Main
        Page","contentmodel":"wikitext","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr","touched":"2018-01-09T05:40:05Z","lastrevid":13163,"length":2286,"protection":[{"type":"edit","level":"autoconfirmed","expiry":"infinity"},{"type":"move","level":"autoconfirmed","expiry":"infinity"}],"restrictiontypes":["edit","move"]}},"userinfo":{"id":0,"name":"192.0.2.42","anon":""}}}'}
    headers:
      Backend-Timing: [D=37016 t=1515548731502602]
      Content-Disposition: [inline; filename="api-result.json"]
      Content-Type: [application/json; charset=utf-8]
      X-Analytics: [ns=-1;special=Badtitle;https=1;nocookies=1]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: GET
    uri: https://test.wikidata.org/w/api.php?action=paraminfo&modules=wbgetentities&format=json&maxlag=5
  response:
    body: {string: '{"paraminfo":{"helpformat":"none","modules":[{"name":"wbgetentities","classname":"Wikibase\\Repo\\Api\\GetEntities","path":"wbgetentities","group":"action","prefix":"","source":"Wikibase
        Repository","sourcename":"Wikibase Repository","licensetag":"GPL-2.0+","licenselink":"//test.wikidata.org/wiki/Special:Version/License/Wikibase_Repository","readrights":"","helpurls":[],"parameters":[{"name":"ids","multi":"","lowlimit":50,"highlimit":500,"limit":50,"type":"string"},{"name":"sites","multi":"","lowlimit":50,"highlimit":500,"limit":50,"allowsduplicates":"","type":["aawikibooks","aawiktionary","abwiktionary","afwikibooks","afwikiquote","afwiktionary","akwikibooks","akwiktionary","alswikibooks","alswikiquote","alswiktionary","amwikiquote","amwiktionary","angwikibooks","angwikiquote","angwikisource","angwiktionary","anwiktionary","arwikibooks","arwikinews","arwikiquote","arwikisource","arwikiversity","arwiktionary","astwikibooks","astwikiquote","astwiktionary","aswikibooks","aswikisource","aswiktionary","avwiktionary","aywikibooks","aywiktionary",[...]
- request:
    body: null
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: GET
    uri: https://test.wikidata.org/w/api.php?sites=testwikidatawiki&action=wbgetentities&titles=Wikidata%3AMain+Page&format=json&maxlag=5
  response:
    body: {string: '{"entities":{"Q2432":{"pageid":4051,"ns":0,"title":"Q2432","lastrevid":218831,"modified":"2017-09-06T19:21:28Z","type":"item","id":"Q2432","labels":{"en":{"language":"en","value":"Wikidata:Main
        Page"},"vls":{"language":"vls","value":"Europa"}},"descriptions":{},"aliases":{},"claims":{"P7":[{"mainsnak":{"snaktype":"value","property":"P7","hash":"25f8d4a1279a30ebd8c305b624eaf59bbc1c5e77","datavalue":{"value":{"entity-type":"item","numeric-id":780,"id":"Q780"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q2432$382ac020-4e04-52db-28db-4ecff92c7a63","rank":"normal"}]},"sitelinks":{"testwikidatawiki":{"site":"testwikidatawiki","title":"Wikidata:Main
        Page","badges":[]}}}},"success":1}'}
    headers:
      Backend-Timing: [D=95023 t=1515548731973962]
      Content-Disposition: [inline; filename="api-result.json"]
      Content-Type: [application/json; charset=utf-8]
      X-Analytics: [ns=-1;special=Badtitle;https=1;nocookies=1]
    status: {code: 200, message: OK}
version: 1
