# This is a PIP requirements file for building Sphinx documentation of pywikibot
# requirements.txt is also needed
sphinx >= 7.1.0, != 7.2.0, != 7.2.1, != 7.2.2
rstcheck >=6.1.2
sphinxext-opengraph >= 0.8.2
furo >= 2023.8.17
