interactions:
- request:
    body: null
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=query&meta=siteinfo%7Cuserinfo&siprop=interwikimap&continue=&uiprop=blockinfo%7Chasmsg&maxlag=5&format=json
  response:
    body: {string: '{"batchcomplete":"","query":{"interwikimap":[{"prefix":"acronym","url":"https://www.acronymfinder.com/$1.html"},{"prefix":"advisory","local":"","url":"https://advisory.wikimedia.org/wiki/$1"},{"prefix":"advogato","url":"http://www.advogato.org/$1"},{"prefix":"aew","url":"https://wiki.arabeyes.org/$1"},{"prefix":"appropedia","url":"http://www.appropedia.org/$1"},{"prefix":"aquariumwiki","url":"http://www.theaquariumwiki.com/$1"},{"prefix":"arborwiki","url":"https://localwiki.org/ann-arbor/$1"},{"prefix":"arxiv","url":"https://arxiv.org/abs/$1"},{"prefix":"atmwiki","url":"http://www.otterstedt.de/wiki/index.php/$1"},{"prefix":"baden","[...]
