interactions:
- request:
    body: null
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: GET
    uri: https://www.wikidata.org/w/api.php?titles=Q1&inprop=protection&prop=info&action=query&indexpageids=&continue=&meta=userinfo&uiprop=blockinfo%7Chasmsg&maxlag=5&format=json
  response:
    body: {string: '{"batchcomplete":"","query":{"pageids":["129"],"pages":{"129":{"pageid":129,"ns":0,"title":"Q1","contentmodel":"wikibase-item","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr","touched":"2018-01-10T22:48:55Z","lastrevid":618618030,"length":81688,"protection":[{"type":"edit","level":"autoconfirmed","expiry":"infinity"}],"restrictiontypes":["edit"]}},"userinfo":{"id":0,"name":"192.0.2.42","anon":""}}}'}
    headers:
      Backend-Timing: [D=47792 t=1516017380147346]
      Content-Disposition: [inline; filename="api-result.json"]
      Content-Type: [application/json; charset=utf-8]
      X-Analytics: [ns=-1;special=Badtitle;https=1;nocookies=1]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: GET
    uri: https://www.wikidata.org/w/api.php?ids=Q1&action=wbgetentities&maxlag=5&format=json
  response:
    body: {string: '{"entities":{"Q1":{"pageid":129,"ns":0,"title":"Q1","lastrevid":618618030,"modified":"2018-01-10T22:48:55Z","type":"item","id":"Q1","labels":{"fr":{"language":"fr","value":"univers"},"la":{"language":"la","value":"universum"},"uz":{"language":"uz","value":"Olam"},"ru":{"language":"ru","value":"\u0412\u0441\u0435\u043b\u0435\u043d\u043d\u0430\u044f"},"pl":{"language":"pl","value":"Wszech\u015bwiat"},"nb":{"language":"nb","value":"universet"},"eo":{"language":"eo","value":"universo"},"it":{"language":"it","value":"universo"},"es":{"language":"es","value":"Universo"},"de":{"language":"de","value":"Universum"},"ca":{"language":"ca","value":"univers"},"en-gb":{"language":"en-gb","value":"universe"},"de-ch":{"language":"de-ch","value":"Universum"},"fi":{"language":"fi","value":"maailmankaikkeus"},"nn":{"language":"nn","value":"universet"},"ja":{"language":"ja","value":"\u5b87\u5b99"},"zh-hant":{"language":"zh-hant","value":"\u5b87\u5b99"},"hr":{"language":"hr","value":"Svemir"},"pt":{"language":"pt","value":"universo"},"hu":{"language":"hu","value":"vil\u00e1gegyetem"},"nl":{"language":"nl","value":"heelal"},"ro":{"language":"ro","value":"Univers"},"sv":{"language":"sv","value":"universum"},"gl":{"language":"gl","value":"universo"},"eu":{"language":"eu","value":"unibertso"},"mk":{"language":"mk","value":"\u0432\u0441\u0435\u043b\u0435\u043d\u0430"},"da":{"language":"da","value":"Universet"},"br":{"language":"br","value":"hollved"},"et":{"language":"et","value":"Universum"},"af":{"language":"af","value":"heelal"},"cy":{"language":"cy","value":"Bydysawd"},"io":{"language":"io","value":"Universo"},"ia":{"language":"ia","value":"universo"},"is":{"language":"is","value":"Alheimurinn"},"tr":{"language":"tr","value":"Evren"},"cs":{"language":"cs","value":"vesm\u00edr"},"sk":{"language":"sk","value":"Vesm\u00edr"},"uk":{"language":"uk","value":"\u0432\u0441\u0435\u0441\u0432\u0456\u0442"},"an":{"language":"an","value":"Universo"},"az":{"language":"az","value":"Kainat"},"ast":{"language":"ast","value":"universu"},"gn":{"language":"gn","value":"Arapy"},"bs":{"language":"bs","value":"Svemir"},"sn":{"language":"sn","value":"Rudunhumwe"},"nv":{"language":"nv","value":"Y\u00e1gh\u00e1hook\u00e1\u00e1n"},"dsb":{"language":"dsb","value":"Uniwersum"},"hif":{"language":"hif","value":"Sansaar"},"fo":{"language":"fo","value":"Alheimurin"},"fy":{"language":"fy","value":"Hielal"},"ga":{"language":"ga","value":"An
        Chruinne"},"hak":{"language":"hak","value":"Y\u00ee-chhiu"},"id":{"language":"id","value":"alam
        semesta"},"jv":{"language":"jv","value":"Alam semesta"},"pam":{"language":"pam","value":"Sikluban"},"csb":{"language":"csb","value":"Swiatnica"},"sw":{"language":"sw","value":"Ulimwengu"},"ht":{"language":"ht","value":"Liniv\u00e8"},"ku":{"language":"ku","value":"Gerd\u00fbn"},"lv":{"language":"lv","value":"Visums"},"lt":{"language":"lt","value":"visata"},"li":{"language":"li","value":"Universum"},"lmo":{"language":"lmo","value":"\u00dcnivers"},"ms":{"language":"ms","value":"Alam
        semesta"},"mwl":{"language":"mwl","value":"Ouniberso"},"nah":{"language":"nah","value":"Cem\u0101n\u0101huac"},"nds-nl":{"language":"nds-nl","value":"Hielal"},"nap":{"language":"nap","value":"Annevierzo"},"frr":{"language":"frr","value":"\u00c5\u00e5l"},"nrm":{"language":"nrm","value":"Eunivers"},"nov":{"language":"nov","value":"Universe"},"oc":{"language":"oc","value":"Univ\u00e8rs"},"pfl":{"language":"pfl","value":"Weldall"},"pap":{"language":"pap","value":"Universo"},"nds":{"language":"nds","value":"Weltruum"},"qu":{"language":"qu","value":"Ch''askancha"},"stq":{"language":"stq","value":"Al"},"sq":{"language":"sq","value":"Gjith\u00ebsia"},"scn":{"language":"scn","value":"universu"},"sl":{"language":"sl","value":"Vesolje"},"sh":{"language":"sh","value":"Svemir"},"su":{"language":"su","value":"Jagat"},"tl":{"language":"tl","value":"sansinukob"},"war":{"language":"war","value":"Sangkalibutan"},"vi":{"language":"vi","value":"v\u0169
        tr\u1ee5"},"bn":{"language":"bn","value":"\u09ae\u09b9\u09be\u09ac\u09bf\u09b6\u09cd\u09ac"},"ar":{"language":"ar","value":"\u0641\u0636\u0627\u0621
        \u0643\u0648\u0646\u064a"},"arc":{"language":"arc","value":"\u072c\u0712\u071d\u0720"},"arz":{"language":"arz","value":"\u0643\u0648\u0646"},"be":{"language":"be","value":"\u0441\u0443\u0441\u0432\u0435\u0442"},"bg":{"language":"bg","value":"\u0412\u0441\u0435\u043b\u0435\u043d\u0430"},"ckb":{"language":"ckb","value":"\u06af\u06d5\u0631\u062f\u0648\u0648\u0646"},"cv":{"language":"cv","value":"\u00c7\u0443\u0442
        \u0422\u0115\u043d\u0447\u0435"},"el":{"language":"el","value":"\u03c3\u03cd\u03bc\u03c0\u03b1\u03bd"},"fa":{"language":"fa","value":"\u06af\u06cc\u062a\u06cc"},"gu":{"language":"gu","value":"\u0aac\u0acd\u0ab0\u0ab9\u0acd\u0aae\u0abe\u0a82\u0aa1"},"he":{"language":"he","value":"\u05d4\u05d9\u05e7\u05d5\u05dd"},"hi":{"language":"hi","value":"\u092c\u094d\u0930\u0939\u094d\u092e\u093e\u0923\u094d\u0921"},"hy":{"language":"hy","value":"\u057f\u056b\u0565\u0566\u0565\u0580\u0584"},"ka":{"language":"ka","value":"\u10e1\u10d0\u10db\u10e7\u10d0\u10e0\u10dd"},"kk":{"language":"kk","value":"\u04d8\u043b\u0435\u043c"},"kn":{"language":"kn","value":"\u0cac\u0ccd\u0cb0\u0cb9\u0ccd\u0cae\u0cbe\u0c82\u0ca1"},"ko":{"language":"ko","value":"\uc6b0\uc8fc"},"lez":{"language":"lez","value":"\u0427\u0438\u043b\u0435\u0440-\u0446\u0430\u0432\u0430\u0440"},"ml":{"language":"ml","value":"\u0d2a\u0d4d\u0d30\u0d2a\u0d1e\u0d4d\u0d1a\u0d02"},"mn":{"language":"mn","value":"\u041e\u0440\u0447\u043b\u043e\u043d"},"mr":{"language":"mr","value":"\u0935\u093f\u0936\u094d\u0935"},"my":{"language":"my","value":"\u1005\u1000\u103c\u101d\u1020\u102c"},"ne":{"language":"ne","value":"\u092c\u094d\u0930\u0939\u094d\u092e\u093e\u0923\u094d\u0921"},"pnb":{"language":"pnb","value":"\u06a9\u0627\u0626\u0646\u0627\u062a"},"rue":{"language":"rue","value":"\u0412\u0435\u0441\u043c\u0456\u0440"},"sr":{"language":"sr","value":"\u0421\u0432\u0435\u043c\u0438\u0440"},"ta":{"language":"ta","value":"\u0b85\u0ba3\u0bcd\u0b9f\u0bae\u0bcd"},"te":{"language":"te","value":"\u0c35\u0c3f\u0c36\u0c4d\u0c35\u0c02"},"tg":{"language":"tg","value":"\u041a\u043e\u0438\u043d\u043e\u0442"},"th":{"language":"th","value":"\u0e40\u0e2d\u0e01\u0e20\u0e1e"},"tt":{"language":"tt","value":"\u0413\u0430\u043b\u04d9\u043c"},"ur":{"language":"ur","value":"\u06a9\u0627\u0626\u0646\u0627\u062a"},"xmf":{"language":"xmf","value":"\u10dd\u10e5\u10d8\u10d0\u10dc\u10e3"},"yi":{"language":"yi","value":"\u05d0\u05d5\u05e0\u05d9\u05d5\u05d5\u05e2\u05e8\u05e1"},"zh":{"language":"zh","value":"\u5b87\u5b99"},"en-ca":{"language":"en-ca","value":"universe"},"pt-br":{"language":"pt-br","value":"universo"},"yue":{"language":"yue","value":"\u5b87\u5b99"},"zh-cn":{"language":"zh-cn","value":"\u5b87\u5b99"},"zh-hans":{"language":"zh-hans","value":"\u5b87\u5b99"},"zh-sg":{"language":"zh-sg","value":"\u5b87\u5b99"},"zh-hk":{"language":"zh-hk","value":"\u5b87\u5b99"},"zh-tw":{"language":"zh-tw","value":"\u5b87\u5b99"},"zh-mo":{"language":"zh-mo","value":"\u5b87\u5b99"},"si":{"language":"si","value":"\u0dc0\u0dd2\u0dc1\u0dca\u0dc0\u0dba"},"ilo":{"language":"ilo","value":"law-ang"},"jbo":{"language":"jbo","value":"la
        munje"},"vep":{"language":"vep","value":"Mir"},"be-tarask":{"language":"be-tarask","value":"\u0441\u0443\u0441\u044c\u0432\u0435\u0442"},"bar":{"language":"bar","value":"W\u00f6dall"},"pms":{"language":"pms","value":"Univers"},"sr-ec":{"language":"sr-ec","value":"\u0421\u0432\u0435\u043c\u0438\u0440"},"sr-el":{"language":"sr-el","value":"Svemir"},"sco":{"language":"sco","value":"universe"},"or":{"language":"or","value":"\u0b2c\u0b4d\u0b30\u0b39\u0b4d\u0b2e\u0b3e\u0b23\u0b4d\u0b21"},"ba":{"language":"ba","value":"\u0492\u0430\u043b\u04d9\u043c"},"sgs":{"language":"sgs","value":"V\u0117sata"},"nan":{"language":"nan","value":"\u00da-ti\u016b"},"ce":{"language":"ce","value":"\u04c0\u0430\u043b\u0430\u043c"},"lzh":{"language":"lzh","value":"\u5b87\u5b99"},"so":{"language":"so","value":"Koon"},"krc":{"language":"krc","value":"\u0411\u043e\u043b\u0443\u043c"},"bxr":{"language":"bxr","value":"\u041e\u0440\u0448\u043e\u043b\u043e\u043d"},"lb":{"language":"lb","value":"Universum"},"lzz":{"language":"lzz","value":"Universi"},"vec":{"language":"vec","value":"univ\u00e8rso"},"cdo":{"language":"cdo","value":"\u1e72\u0304-d\u00eau"},"gd":{"language":"gd","value":"Domhan"},"sd":{"language":"sd","value":"\u06aa\u0627\u0626\u0646\u0627\u062a"},"xh":{"language":"xh","value":"Ihlabathi"},"gsw":{"language":"gsw","value":"Universum"},"pa":{"language":"pa","value":"\u0a2c\u0a4d\u0a30\u0a39\u0a3f\u0a2e\u0a70\u0a21"},"bho":{"language":"bho","value":"\u092c\u094d\u0930\u0939\u094d\u092e\u093e\u0902\u0921"},"lij":{"language":"lij","value":"Universo"},"chr":{"language":"chr","value":"\u13a6\u13b8\u13b6\u13af
        \u13a6\u13b8\u13be\u13d7"},"vo":{"language":"vo","value":"leval"},"wuu":{"language":"wuu","value":"\u5b87\u5b99"},"en":{"language":"en","value":"Universe"},"jam":{"language":"jam","value":"Yunivoers"},"ky":{"language":"ky","value":"\u0410\u0430\u043b\u0430\u043c"},"as":{"language":"as","value":"\u09ac\u09bf\u09b6\u09cd\u09ac\u09ac\u09cd\u09f0\u09b9\u09cd\u09ae\u09be\u09a3\u09cd\u09a1"},"yo":{"language":"yo","value":"\u00e0gb\u00e0l\u00e1ay\u00e9"},"tt-cyrl":{"language":"tt-cyrl","value":"\u0413\u0430\u043b\u04d9\u043c"},"tt-latn":{"language":"tt-latn","value":"\u011e\u00e4l\u00e4m"},"ts":{"language":"ts","value":"Matilo"},"wa":{"language":"wa","value":"Univiers"}},"descriptions":{"la":{"language":"la","value":"res
        quae omnem materiam et spatium continet"},"fr":{"language":"fr","value":"ensemble
        des plan\u00e8tes, des \u00e9toiles, des galaxies, de l''espace intergalactique,
        ainsi que de toute la mati\u00e8re et de l''\u00e9nergie"},"pl":{"language":"pl","value":"wszystko,
        co fizycznie istnieje"},"es":{"language":"es","value":"Totalidad del espacio-tiempo,
        la materia y la energ\u00eda existentes"},"de":{"language":"de","value":"Ges[...]
