interactions:
- request:
    body: null
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: GET
    uri: https://www.wikidata.org/w/api.php?maxlag=5&meta=siteinfo%7Cuserinfo&format=json&uiprop=blockinfo%7Chasmsg&action=query&continue=&siprop=namespaces%7Cnamespacealiases%7Cgeneral
  response:
    body: {string: '{"batchcomplete":"","query":{"namespaces":{"-2":{"id":-2,"case":"first-letter","canonical":"Media","*":"Media"},"-1":{"id":-1,"case":"first-letter","canonical":"Special","*":"Special"},"0":{"id":0,"case":"first-letter","content":"","defaultcontentmodel":"wikibase-item","*":""},"1":{"id":1,"case":"first-letter","subpages":"","canonical":"Talk","*":"Talk"},"2":{"id":2,"case":"first-letter","subpages":"","canonical":"User","*":"User"},"3":{"id":3,"case":"first-letter","subpages":"","canonical":"User
        talk","*":"User talk"},"4":{"id":4,"case":"first-letter","subpages":"","canonical":"Project","*":"Wikidata"},"5":{"id":5,"case":"first-letter","subpages":"","canonical":"Project
        talk","*":"Wikidata talk"},"6":{"id":6,"case":"first-letter","canonical":"File","*":"File"},"7":{"id":7,"case":"first-letter","[...]
- request:
    body: null
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: GET
    uri: https://www.wikidata.org/w/api.php?maxlag=5&action=paraminfo&modules=main%7Cparaminfo%7Cquery&format=json
  response:
    body: {string: '{"paraminfo":{"helpformat":"none","modules":[{"name":"main","classname":"ApiMain","path":"main","prefix":"","source":"MediaWiki","sourcename":"MediaWiki","licensetag":"GPL-2.0+","licenselink":"//www.wikidata.org/wiki/Special:Version/License/MediaWiki","helpurls":[],"parameters":[{"name":"action","default":"help","type":["abusefiltercheckmatch","abusefilterchecksyntax","abusefilterevalexpression","abusefilterunblockautopromote","aggregategroups","antispoof","block","bouncehandler","categorytree","centralauthtoken","centralnoticecdncacheupdatebanner","centralnoticechoicedata","centralnoticequerycampaign","changeauthenticationdata","checktoken","cirrus-config-dump","cirrus-mapping-dump","cirrus-settings-dump","clearhasmsg","clientlogin","compare","createaccount","cspreport","delete","deleteglobalaccount","echomar[...]
- request:
    body: null
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: GET
    uri: https://www.wikidata.org/w/api.php?maxlag=5&action=paraminfo&modules=query%2Binfo&format=json
  response:
    body: {string: '{"paraminfo":{"helpformat":"none","modules":[{"name":"info","classname":"ApiQueryInfo","path":"query+info","group":"prop","prefix":"in","source":"MediaWiki","sourcename":"MediaWiki","licensetag":"GPL-2.0+","licenselink":"//www.wikidata.org/wiki/Special:Version/License/MediaWiki","readrights":"","helpurls":["https://www.mediawiki.org/wiki/Special:MyLanguage/API:Info"],"parameters":[{"name":"prop","multi":"","lowlimit":50,"highlimit":500,"limit":50,"type":["protection","talkid","watched","watchers","visitingwatchers","notificationtimestamp","subjectid","url","readable","preload","displaytitle"]},{"name":"testactions","multi":"","lowlimit":50,"highlimit":500,"limit":50,"type":"string"},{"name":"token","deprecated":"","multi":"","lowlimit":50,"highlimit":500,"limit":50,"type":["edit","delete","protect","move","block","unblock","email","import","watch"]},{"name":"continue","type":"string"}]}]}}'}
    headers:
      Backend-Timing: [D=35008 t=1515548660808562]
      Content-Disposition: [inline; filename="api-result.json"]
      Content-Type: [application/json; charset=utf-8]
      X-Analytics: [ns=-1;special=Badtitle;https=1;nocookies=1]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: GET
    uri: https://www.wikidata.org/w/api.php?maxlag=5&meta=siteinfo%7Cuserinfo&format=json&uiprop=blockinfo%7Chasmsg&action=query&continue=&siprop=extensions
  response:
    body: {string: '{"batchcomplete":"","query":{"extensions":[{"type":"media","name":"TimedMediaHandler","namemsg":"timedmediahandler-extensionname","descriptionmsg":"timedmediahandler-desc","author":"Michael
        Dale, Tim Starling, James Heinrich, Jan Gerber, Brion Vibber, Derk-Jan Hartman","url":"https://www.mediawiki.org/wiki/Extension:TimedMediaHandler","version":"0.5.0","vcs-system":"git","vcs-version":"2e87f7e593b404f4a0891771ba05a33a9128039b","vcs-url":"https://phabricator.wikimedia.org/r/revision/mediawiki/extensions/TimedMediaHandler;2e87f7e593b404f4a0891771ba05a33a9128039b","vcs-date":"2018-01-01T08:20:50Z","license-name":"GPL-2.0+","license":"/wiki/Special:Version/License/TimedMediaHandler"},{"type":"media","name":"PagedTiffHandler","descriptionmsg":"tiff-desc","author":"[http://www.hallowelt.biz
        HalloWelt! Medienwerkstatt GmbH], Sebastian Ulbricht, Daniel Lynge, Marc Reymann,
        Markus Glaser for Wikimedia Deutschland","url":"https://www.mediawiki.org/wiki/Extension:PagedTiffHandler","vcs-system":"git","vcs-version":"ab1ce81bf9ee2aac46ce7e37a300e71aa9c38d4e","vcs-url":"https://phabricator.wikimedia.org/r/revision/media[...]
- request:
    body: null
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: GET
    uri: https://www.wikidata.org/w/api.php?maxlag=5&inprop=protection&meta=userinfo&titles=Wikidata%3AMain+Page&uiprop=blockinfo%7Chasmsg&indexpageids=&action=query&continue=&format=json&prop=info
  response:
    body: {string: '{"batchcomplete":"","query":{"pageids":["19441465"],"pages":{"19441465":{"pageid":19441465,"ns":4,"title":"Wikidata:Main
        Page","contentmodel":"wikitext","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr","touched":"2018-01-10T00:05:51Z","lastrevid":617456160,"length":185,"protection":[{"type":"edit","level":"autoconfirmed","expiry":"infinity"},{"type":"move","level":"sysop","expiry":"infinity"}],"restrictiontypes":["edit","move"]}},"userinfo":{"id":0,"name":"192.0.2.42","anon":""}}}'}
    headers:
      Backend-Timing: [D=30749 t=1515548661318299]
      Content-Disposition: [inline; filename="api-result.json"]
      Content-Type: [application/json; charset=utf-8]
      X-Analytics: [ns=-1;special=Badtitle;https=1;nocookies=1]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: GET
    uri: https://www.wikidata.org/w/api.php?maxlag=5&action=paraminfo&modules=wbgetentities&format=json
  response:
    body: {string: '{"paraminfo":{"helpformat":"none","modules":[{"name":"wbgetentities","classname":"Wikibase\\Repo\\Api\\GetEntities","path":"wbgetentities","group":"action","prefix":"","source":"Wikibase
        Repository","sourcename":"Wikibase Repository","licensetag":"GPL-2.0+","licenselink":"//www.wikidata.org/wiki/Special:Version/License/Wikibase_Repository","readrights":"","helpurls":[],"parameters":[{"name":"ids","multi":"","lowlimit":50,"highlimit":500,"limit":50,"type":"string"},{"name":"sites","multi":"","lowlimit":50,"highlimit":500,"limit":50,"allowsduplicates":"","type":["aawikibooks","aawiktionary","abwiktionary","afwikibooks","afwikiquote","afwiktionary","akwikibooks","akwiktionary","alswikibooks","alswikiquote","alswiktionary","amwikiquote","amwiktionary","angwikibooks","angwikiquote","angwikisource","angwiktionary","anwiktionary","arwikibooks","arwikinews","arwikiquote","arwikisource","arwikiversity","arwiktionary","astwikibooks","astwikiquote","astwiktionary","aswikibooks","aswikisource","aswiktionary","avwiktionary","aywikibooks","aywiktionary",[...]
- request:
    body: null
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: GET
    uri: https://www.wikidata.org/w/api.php?maxlag=5&sites=wikidatawiki&format=json&action=wbgetentities&titles=Wikidata%3AMain+Page
  response:
    body: {string: '{"entities":{"Q5296":{"pageid":6240,"ns":0,"title":"Q5296","lastrevid":617220239,"modified":"2018-01-06T21:35:04Z","type":"item","id":"Q5296","labels":{"de":{"language":"de","value":"Hauptseite"},"en":{"language":"en","value":"Wikimedia
        main page"},"ilo":{"language":"ilo","value":"Umuna a Panid"},"fr":{"language":"fr","value":"Wiki:Accueil
        principal"},"en-ca":{"language":"en-ca","value":"Wikimedia main page"},"en-gb":{"language":"en-gb","value":"Wikimedia
        main page"},"oc":{"language":"oc","value":"Acu\u00e8lh"},"ckb":{"language":"ckb","value":"\u062f\u06d5\u0633\u062a\u067e\u06ce\u06a9"},"frr":{"language":"frr","value":"Wikimedia:Hoodsidj"},"gv":{"language":"gv","value":"Ard-ghuillag"},"pcd":{"language":"pcd","value":"Accueul"},"xmf":{"language":"xmf","value":"\u10d3\u10e3\u10d3\u10ee\u10d0\u10e1\u10f7\u10da\u10d0"},"es":{"language":"es","value":"Wikimedia:Portada"},"it":{"language":"it","value":"Pagina
        principale"},"nl":{"language":"nl","value":"Hoofdpagina"},"sk":{"language":"sk","value":"Hlavn\u00e1
        str\u00e1nka"},"fi":{"language":"fi","value":"Wikimedia:Etusivu"},"ar":{"language":"ar","value":"\u0627\u0644\u0635\u0641\u062d\u0629
        \u0627\u0644\u0631\u0626\u064a\u0633\u064a\u0629"},"ko":{"language":"ko","value":"\uc704\ud0a4\ubbf8\ub514\uc5b4
        \ub300\ubb38 \ubb38\uc11c"},"tr":{"language":"tr","value":"Ana Sayfa"},"bg":{"language":"bg","value":"\u041d\u0430\u0447\u0430\u043b\u043d\u0430
        \u0441\u0442\u0440\u0430\u043d\u0438\u0446\u0430"},"ca":{"language":"ca","value":"Portada"},"ce":{"language":"ce","value":"\u041a\u043e\u044c\u0440\u0442\u0430
        \u0430\u0433I\u043e"},"ceb":{"language":"ceb","value":"Unang Panid"},"cs":{"language":"cs","value":"hlavn\u00ed
        strana projektu"},"da":{"language":"da","value":"Forside"},"et":{"language":"et","value":"Esileht"},"fo":{"language":"fo","value":"Fors\u00ed\u00f0a"},"is":{"language":"is","value":"Fors\u00ed\u00f0a"},"ja":{"language":"ja","value":"\u30e1\u30a4\u30f3\u30da\u30fc\u30b8"},"ga":{"language":"ga","value":"Pr\u00edomhleathanach"},"he":{"language":"he","value":"\u05e2\u05de\u05d5\u05d3
        \u05e8\u05d0\u05e9\u05d9"},"hr":{"language":"hr","value":"Glavna stranica"},"hu":{"language":"hu","value":"Kezd\u0151lap"},"id":{"language":"id","value":"Halaman
        Utama"},"kl":{"language":"kl","value":"Saqqaa"},"la":{"language":"la","value":"Pagina
        prima"},"lmo":{"language":"lmo","value":"Pagina principala"},"nn":{"language":"nn","value":"Hovudside"},"pl":{"language":"pl","value":"Strona
        g\u0142\u00f3wna"},"pt":{"language":"pt","value":"Wikim\u00e9dia:P\u00e1gina
        principal"},"pt-br":{"language":"pt-br","value":"Wikim\u00e9dia:P\u00e1gina
        principal"},"ro":{"language":"ro","value":"Pagina principal\u0103"},"ru":{"language":"ru","value":"\u0437\u0430\u0433\u043b\u0430\u0432\u043d\u0430\u044f
        \u0441\u0442\u0440\u0430\u043d\u0438\u0446\u0430"},"se":{"language":"se","value":"Port\u00e1la:Ovdasiidu"},"sco":{"language":"sco","value":"Main
        Page"},"sl":{"language":"sl","value":"Glavna stran"},"sr":{"language":"sr","value":"\u0433\u043b\u0430\u0432\u043d\u0430
        \u0441\u0442\u0440\u0430\u043d\u0430"},"sv":{"language":"sv","value":"Portal:Huvudsida"},"te":{"language":"te","value":"\u0c2e\u0c4a\u0c26\u0c1f\u0c3f
        \u0c2a\u0c47\u0c1c\u0c40"},"uk":{"language":"uk","value":"\u0413\u043e\u043b\u043e\u0432\u043d\u0430
        \u0441\u0442\u043e\u0440\u0456\u043d\u043a\u0430"},"vi":{"language":"vi","value":"Trang
        Ch\u00ednh"},"zh":{"language":"zh","value":"\u7dad\u57fa\u5a92\u9ad4\u8a08\u5283\u9996\u9801"},"gl":{"language":"gl","value":"Portada"},"ab":{"language":"ab","value":"\u0418\u0445\u0430\u0434\u043e\u0443
        \u0430\u0434\u0430\u049f\u044c\u0430"},"ace":{"language":"ace","value":"\u00d4n
        Keue"},"af":{"language":"af","value":"Tuisblad"},"ak":{"language":"ak","value":"Krataafa
        Titiriw"},"gsw":{"language":"gsw","value":"Wikimedia:Houptsyte"},"am":{"language":"am","value":"\u12cb\u1293\u12cd
        \u1308\u133d"},"an":{"language":"an","value":"Portalada"},"ang":{"language":"ang","value":"H\u0113afodtramet"},"arc":{"language":"arc","value":"\u0726\u0710\u072c\u0710
        \u072a\u071d\u072b\u071d\u072c\u0710"},"arz":{"language":"arz","value":"\u0627\u0644\u0635\u0641\u062d\u0647
        \u0627\u0644\u0631\u0626\u064a\u0633\u064a\u0647"},"as":{"language":"as","value":"\u09ac\u09c7\u099f\u09c1\u09aa\u09be\u09a4"},"ast":{"language":"ast","value":"Portada"},"av":{"language":"av","value":"\u0411\u0435\u0442I\u0435\u0440\u0430\u0431
        \u0433\u044c\u0443\u043c\u0435\u0440"},"ay":{"language":"ay","value":"Nayriri
        u\u00f1stawi"},"az":{"language":"az","value":"Ana S\u0259hif\u0259"},"ba":{"language":"ba","value":"\u0411\u0430\u0448
        \u0431\u0438\u0442"},"bar":{"language":"bar","value":"Hoamseitn"},"bcl":{"language":"bcl","value":"Panginot
        na Pahina"},"be":{"language":"be","value":"\u0413\u0430\u043b\u043e\u045e\u043d\u0430\u044f
        \u0441\u0442\u0430\u0440\u043e\u043d\u043a\u0430"},"be-tarask":{"language":"be-tarask","value":"\u0413\u0430\u043b\u043e\u045e\u043d\u0430\u044f
        \u0441\u0442\u0430\u0440\u043e\u043d\u043a\u0430"},"bjn":{"language":"bjn","value":"Tungkaran
        Tatambaian"},"bm":{"language":"bm","value":"Ny\u025b f\u0254l\u0254"},"bn":{"language":"bn","value":"\u09aa\u09cd\u09b0\u09a7\u09be\u09a8
        \u09aa\u09be\u09a4\u09be"},"bo":{"language":"bo","value":"\u0f42\u0f59\u0f7c\u0f0b\u0f44\u0f7c\u0f66\u0f0d"},"bpy":{"language":"bpy","value":"\u09aa\u09af\u09bc\u09b2\u09be
        \u09aa\u09be\u09a4\u09be"},"br":{"language":"br","value":"Degemer"},"bs":{"language":"bs","value":"Po\u010detna
        strana"},"bug":{"language":"bug","value":"\u1a12\u1a1b\u1a04 \u1a15\u1a17\u1a09\u1a1a\u1a19\u1a15"},"bxr":{"language":"bxr","value":"\u041d\u044e\u0443\u0440
        \u0445\u0443\u0443\u0434\u0430\u04bb\u0430\u043d"},"cbk-zam":{"language":"cbk-zam","value":"El
        Primero Pagina"},"cdo":{"language":"cdo","value":"T\u00e0u Hi\u0115k"},"ch":{"language":"ch","value":"Fanhaluman"},"chr":{"language":"chr","value":"\u13a4\u13b5\u13ae\u13b5\u13cd\u13d7"},"chy":{"language":"chy","value":"Va''ohtama"},"co":{"language":"co","value":"Pagina
        maestra"},"cr":{"language":"cr","value":"\u14c3\u1525\u1455\u14bb\u1439\u1505\u144c\u148b\u14c2\u1472\u14d0"},"csb":{"language":"csb","value":"Prz\u00e9dn\u00f4
        starna"},"cu":{"language":"cu","value":"\u0413\u043b\u0430\u0432\u044c\u043d\u0430
        \u0441\u0442\u0440\u0430\u043d\u0438\u0446\u0430"},"cv":{"language":"cv","value":"\u0422\u0115\u043f
        \u0441\u0442\u0440\u0430\u043d\u0438\u0446\u0430"},"cy":{"language":"cy","value":"Hafan"},"diq":{"language":"diq","value":"Pela
        Seri"},"dsb":{"language":"dsb","value":"G\u0142owny bok"},"dv":{"language":"dv","value":"\u0789\u07a6\u0787\u07a8
        \u079e\u07a6\u078a\u07b0\u0799\u07a7"},"dz":{"language":"dz","value":"\u0f58\u0f0b\u0f64\u0f7c\u0f42\u0f0d"},"ee":{"language":"ee","value":"Axa
        do \u014ag\u0254"},"el":{"language":"el","value":"\u03a0\u03cd\u03bb\u03b7:\u039a\u03cd\u03c1\u03b9\u03b1"},"eml":{"language":"eml","value":"PP"},"eo":{"language":"eo","value":"Vikimedia
        \u0109efpa\u011do"},"eu":{"language":"eu","value":"Azala"},"ext":{"language":"ext","value":"P\u00e1gina
        prencipal"},"fa":{"language":"fa","value":"\u0635\u0641\u062d\u0647\u0654
        \u0627\u0635\u0644\u06cc"},"ff":{"language":"ff","value":"Hello ja\u0253\u0253orgo"},"fj":{"language":"fj","value":"Tabana
        levu"},"frp":{"language":"frp","value":"Vouiquip\u00e8dia:Re\u00e7ua princip\u00e2la"},"fur":{"language":"fur","value":"Pagjine
        princip\u00e2l"},"fy":{"language":"fy","value":"Haadside"},"gag":{"language":"gag","value":"Ba\u015f
        yaprak"},"gan":{"language":"gan","value":"\u5c01\u9762"},"gd":{"language":"gd","value":"Pr\u00ecomh-Dhuilleag"},"glk":{"language":"glk","value":"\u06af\u062a\u02c7
        \u0648\u0644\u06af"},"gn":{"language":"gn","value":"Ape"},"got":{"language":"got","value":"\ud800\udf37\ud800\udf30\ud800\udf3f\ud800\udf31\ud800\udf39\ud800\udf33\ud800\udf30\ud800\udf43\ud800\udf34\ud800\udf39\ud800\udf33\ud800\udf49"},"gu":{"language":"gu","value":"\u0aae\u0ac1\u0a96\u0aaa\u0ac3\u0ab7\u0acd\u0aa0"},"ha":{"language":"ha","value":"Main
        Page"},"hak":{"language":"hak","value":"Th\u00e8u-Ya\u030dp"},"haw":{"language":"haw","value":"Ka
        papa kinohi"},"hi":{"language":"hi","value":"\u092e\u0941\u0916\u092a\u0943\u0937\u094d\u0920"},"hif":{"language":"hif","value":"Pahila
        Panna"},"hsb":{"language":"hsb","value":"h\u0142owna strona"},"ht":{"language":"ht","value":"Paj
        Prensipal"},"hy":{"language":"hy","value":"\u0533\u056c\u056d\u0561\u057e\u0578\u0580
        \u0567\u057b"},"ia":{"language":"ia","value":"Pagina principal"},"ig":{"language":"ig","value":"Ih\u00fc
        Mbu"},"ie":{"language":"ie","value":"Principal p\u00e1gine"},"ik":{"language":"ik","value":"Makpi\u0121aaq
        Kanna"},"io":{"language":"io","value":"Frontispico"},"iu":{"language":"iu","value":"\u140a\u14a5\u1585"},"jbo":{"language":"jbo","value":"ralju
        ckupau"},"jv":{"language":"jv","value":"Kaca Utama"},"ka":{"language":"ka","value":"\u10db\u10d7\u10d0\u10d5\u10d0\u10e0\u10d8
        \u10d2\u10d5\u10d4\u10e0\u10d3\u10d8"},"kaa":{"language":"kaa","value":"Bas
        bet"},"kab":{"language":"kab","value":"Asebter amenzawi"},"kbd":{"language":"kbd","value":"\u041d\u0430\u043f\u044d\u043a\u04c0\u0443\u044d\u0446\u04c0
        \u043d\u044d\u0445\u044a\u044b\u0449\u0445\u044c\u044d"},"kg":{"language":"kg","value":"Lukaya
        ya ntete"},"ki":{"language":"ki","value":"Main Page"},"kk":{"language":"kk","value":"\u0411\u0430\u0441\u0442\u044b
        \u0431\u0435\u0442"},"km":{"language":"km","value":"\u1791\u17c6\u1796\u17d0\u179a\u178a\u17be\u1798"},"kn":{"language":"kn","value":"\u0cae\u0cc1\u0c96\u0ccd\u0caf
        \u0caa\u0cc1\u0c9f"},"koi":{"language":"koi","value":"\u041f\u043e\u043d\u0434\u04e7\u0442\u0447\u0430\u043d
        \u043b\u0438\u0441\u0442\u0431\u043e\u043a"},"krc":{"language":"krc","value":"\u0411\u0430\u0448
        \u0431\u0435\u0442"},"ks":{"language":"ks","value":"\u0627\u06c1\u0645 \u0635\u064e\u0641\u06c1\u0655"},"ksh":{"language":"ksh","value":"Wikimedia:Houpsigk"},"ku":{"language":"ku","value":"Destp\u00eak"},"kv":{"language":"kv","value":"\u041c\u0435\u0434\u0448\u04e7\u0440
        \u043b\u0438\u0441\u0442 \u0431\u043e\u043a"},"kw":{"language":"kw","value":"Folen
        dre"},"ky":{"language":"ky","value":"\u0411\u0430\u0448\u0431\u0430\u0440\u0430\u043a"},"lad":{"language":"lad","value":"La
        Primera Hoja"},"lb":{"language":"lb","value":"Haapts\u00e4it"},"lbe":{"language":"lbe","value":"\u0410\u0433\u044c\u0430\u043c\u043c\u0443\u0440
        \u043b\u0430\u0436\u0438\u043d"},"lez":{"language":"lez","value":"\u041a\u044c\u0438\u043b\u0438\u043d
        \u0447\u0447\u0438\u043d"},"lg":{"language":"lg","value":"Olupapula Olusooka"},"li":{"language":"li","value":"Veurblaad"},"lij":{"language":"lij","value":"Pagina
        prin\u00e7ip\u00e2"},"ln":{"language":"ln","value":"Lok\u00e1s\u00e1 ya libos\u00f3"},"lo":{"language":"lo","value":"\u0edc\u0ec9\u0eb2\u0eab\u0ebc\u0eb1\u0e81"},"lt":{"language":"lt","value":"Pagrindinis
        puslapis"},"ltg":{"language":"ltg","value":"Suoku puslopa"},"lv":{"language":"lv","value":"S\u0101kumlapa"},"map-bms":{"language":"map-bms","value":"Kaca
        Utama"},"mdf":{"language":"mdf","value":"\u041f\u0440\u044f \u043b\u043e\u043f\u0430"},"mg":{"language":"mg","value":"Fandraisana"},"mhr":{"language":"mhr","value":"\u0422\u04f1\u04a5
        \u043b\u0430\u0448\u0442\u044b\u043a"},"mi":{"language":"mi","value":"Hau
        K\u0101inga"},"mk":{"language":"mk","value":"\u0433\u043b\u0430\u0432\u043d\u0430
        \u0441\u0442\u0440\u0430\u043d\u0438\u0446\u0430"},"ml":{"language":"ml","value":"\u0d2a\u0d4d\u0d30\u0d27\u0d3e\u0d28
        \u0d24\u0d3e\u0d7e"},"mn":{"language":"mn","value":"\u041d\u04af\u04af\u0440
        \u0445\u0443\u0443\u0434\u0430\u0441"},"mr":{"language":"mr","value":"\u092e\u0941\u0916\u092a\u0943\u0937\u094d\u0920"},"mrj":{"language":"mrj","value":"\u0422\u04f9\u043d\u0433
        \u04f9\u043b\u04f9\u0448\u0442\u04d3\u0448"},"ms":{"language":"ms","value":"laman
        utama Wikimedia"},"mt":{"language":"mt","value":"Il-Pa\u0121na prin\u010bipali"},"mwl":{"language":"mwl","value":"P\u00e1igina
        Percipal"},"my":{"language":"my","value":"\u1017\u101f\u102d\u102f\u1005\u102c\u1019\u103b\u1000\u103a\u1014\u103e\u102c"},"myv":{"language":"myv","value":"\u041f\u0440\u044f\u043a\u0441\u043b\u043e\u043f\u0430"},"mzn":{"language":"mzn","value":"\u06af\u062a
        \u0635\u0641\u062d\u0647"},"na":{"language":"na","value":"Bwiema peij"},"nah":{"language":"nah","value":"Cal\u012bxatl"},"nap":{"language":"nap","value":"Paggena
        prencepale"},"nds":{"language":"nds","value":"Wikimedia:H\u00f6\u00f6ftsiet"},"nds-nl":{"language":"nds-nl","value":"Veurblad"},"ne":{"language":"ne","value":"\u092e\u0941\u0916\u094d\u092f
        \u092a\u0943\u0937\u094d\u0920"},"new":{"language":"new","value":"\u092e\u0942
        \u092a\u094c"},"nov":{"language":"nov","value":"Chefi pagine"},"nrm":{"language":"nrm","value":"Page
        d\u00e9 garde"},"nso":{"language":"nso","value":"Wikimedia Letlakala la pele"},"nv":{"language":"nv","value":"\u00cdiyis\u00ed\u00ed
        Naaltsoos"},"ny":{"language":"ny","value":"Tsamba Lalikulu"},"om":{"language":"om","value":"Fuula
        Dura"},"or":{"language":"or","value":"\u0b2a\u0b4d\u0b30\u0b27\u0b3e\u0b28
        \u0b2a\u0b43\u0b37\u0b4d\u0b20\u0b3e"},"os":{"language":"os","value":"\u0421\u00e6\u0439\u0440\u0430\u0433
        \u0444\u0430\u0440\u0441"},"pa":{"language":"pa","value":"\u0a2e\u0a41\u0a71\u0a16
        \u0a38\u0a2b\u0a3c\u0a3e"},"pag":{"language":"pag","value":"Arapan ya Bolong"},"pam":{"language":"pam","value":"Pun
        Bulung"},"pap":{"language":"pap","value":"P\u00e1gina Prinsipal"},"pdc":{"language":"pdc","value":"Haaptblatt"},"pfl":{"language":"pfl","value":"Wikimedia:Haubdsaid"},"pi":{"language":"pi","value":"\u092a\u092e\u0941\u0916
        \u092a\u0924\u094d\u0924 Pamukha patta"},"pih":{"language":"pih","value":"Mien
        Paij"},"pms":{"language":"pms","value":"Intrada"},"pnt":{"language":"pnt","value":"\u0391\u03c1\u03c7\u03b9\u03ba\u03cc\u03bd
        \u03c3\u03b5\u03bb\u03af\u03b4\u03b1"},"ps":{"language":"ps","value":"\u0644\u0648\u0645\u0693\u06cc
        \u0645\u062e"},"qu":{"language":"qu","value":"Qhapaq p''anqa"},"rm":{"language":"rm","value":"Wikimedia:Pagina
        principala"},"rmy":{"language":"rmy","value":"Sherutni patrin"},"rn":{"language":"rn","value":"Main
        Page"},"roa-tara":{"language":"roa-tara","value":"Pagene Prengep\u00e1le"},"rue":{"language":"rue","value":"\u0413\u043e\u043b\u043e\u0432\u043d\u0430
        \u0441\u0442\u043e\u0440\u0456\u043d\u043a\u0430"},"rw":{"language":"rw","value":"Main
        Page"},"sa":{"language":"sa","value":"\u092e\u0941\u0916\u094d\u092f\u092a\u0943\u0937\u094d\u0920\u092e\u094d"},"sah":{"language":"sah","value":"\u0421\u04af\u0440\u04af\u043d
        \u0441\u0438\u0440\u044d\u0439"},"sc":{"language":"sc","value":"P\u00e0gina
        printzipale"},"scn":{"language":"scn","value":"P\u00e0ggina principali"},"sd":{"language":"sd","value":"\u0645\u064f\u06a9
        \u0635\u0641\u062d\u0648"},"sg":{"language":"sg","value":"G\u00e4 nz\u00f6n\u00ee"},"sh":{"language":"sh","value":"Glavna
        stranica"},"si":{"language":"si","value":"\u0dc0\u0dd2\u0d9a\u0dd2\u0db8\u0dd3\u0da9\u0dd2\u0dba\u0dcf
        \u0db8\u0dd4\u0dbd\u0dca \u0db4\u0dd2\u0da7\u0dd4\u0dc0"},"sm":{"language":"sm","value":"It\u016blau
        Muamua"},"sn":{"language":"sn","value":"Peji Rekutanga"},"so":{"language":"so","value":"Bogga
        Hore"},"sq":{"language":"sq","value":"Faqja kryesore"},"srn":{"language":"srn","value":"Fesipapira"},"ss":{"language":"ss","value":"Likhasi
        Lelikhulu"},"st":{"language":"st","value":"Leqephe la pele"},"stq":{"language":"stq","value":"Haudsiede"},"su":{"language":"su","value":"Tepas"},"szl":{"language":"szl","value":"Przod\u0144o
        zajta"},"ta":{"language":"ta","value":"\u0bae\u0bc1\u0ba4\u0bb1\u0bcd \u0baa\u0b95\u0bcd\u0b95\u0bae\u0bcd"},"tet":{"language":"tet","value":"P\u00e1jina
        Mahuluk"},"tg":{"language":"tg","value":"\u0421\u0430\u04b3\u0438\u0444\u0430\u0438
        \u0430\u0441\u043b\u04e3"},"th":{"language":"th","value":"\u0e2b\u0e19\u0e49\u0e32\u0e2b\u0e25\u0e31\u0e01"},"ti":{"language":"ti","value":"\u1218\u1260\u1308\u1232
        \u1308\u133d"},"tk":{"language":"tk","value":"Ba\u015f Sahypa"},"tl":{"language":"tl","value":"Unang
        Pahina"},"tn":{"language":"tn","value":"Main Page"},"to":{"language":"to","value":"Peesi
        tali fiefia"},"tpi":{"language":"tpi","value":"Fran pes"},"ts":{"language":"ts","value":"Tlukankulu"},"tt":{"language":"tt","value":"\u0411\u0430\u0448
        \u0431\u0438\u0442"},"tum":{"language":"tum","value":"Main Page"},"ug":{"language":"ug","value":"\u0626\u06c7\u064a\u063a\u06c7\u0631\u0686\u06d5
        \u06cb\u0649\u0643\u0649\u067e\u0649\u062f\u0649\u064a\u06d5"},"ur":{"language":"ur","value":"\u0635\u0641\u062d\u06c2
        \u0627\u0648\u0644"},"uz":{"language":"uz","value":"Bosh Sahifa"},"ve":{"language":"ve","value":"Hayani"},"vec":{"language":"vec","value":"Pajina
        prinsipa\u0142e"},"vep":{"language":"vep","value":"P\u00e4lehtpol\u2019"},"vls":{"language":"vls","value":"Voorblad"},"vo":{"language":"vo","value":"Cifapad"},"wa":{"language":"wa","value":"Mwaisse
        p\u00e5dje"},"war":{"language":"war","value":"Syahan nga Pakli"},"wo":{"language":"wo","value":"X\u00ebt
        wu nj\u00ebkk"},"wuu":{"language":"wuu","value":"\u5c01\u9762"},"xal":{"language":"xal","value":"\u041d\u04af\u0440
        \u0445\u0430\u043b\u0445"},"xh":{"language":"xh","value":"Iphepha Elingundoqo"},"yi":{"language":"yi","value":"\u05d4\u05d5\u05d9\u05e4\u05d8
        \u05d6\u05d9\u05d9\u05d8"},"yo":{"language":"yo","value":"Oj\u00faew\u00e9
        \u00c0k\u1ecd\u0301k\u1ecd\u0301"},"za":{"language":"za","value":"Yiebdaeuz"},"zea":{"language":"zea","value":"V\u00f2blad"},"yue":{"language":"yue","value":"\u982d\u7248"},"zu":{"language":"zu","value":"Ikhasi
        Elikhulu"},"de-ch":{"language":"de-ch","value":"Wikimedia:Hauptseite"},"aa":{"language":"aa","value":"Main
        Page"},"ii":{"language":"ii","value":"\u9996\u9875"},"hz":{"language":"hz","value":"Main
        Page"},"kr":{"language":"kr","value":"Main Page"},"mus":{"language":"mus","value":"Main
        Page"},"ho":{"language":"ho","value":"Main Page"},"kj":{"language":"kj","value":"Main
        Page"},"mh":{"language":"mh","value":"Main Page"},"cho":{"language":"cho","value":"Main
        Page"},"ng":{"language":"ng","value":"Hambili Tarkerazu"},"tw":{"language":"tw","value":"Main
        Page"},"bi":{"language":"bi","value":"Nambawan Pej"},"sw":{"language":"sw","value":"Mwanzo"},"mo":{"language":"mo","value":"\u041f\u0430\u04c2\u0438\u043d\u0430
        \u043f\u0440\u0438\u043d\u0447\u0438\u043f\u0430\u043b\u044d"},"pnb":{"language":"pnb","value":"\u067e\u06c1\u0644\u0627
        \u0635\u0641\u06c1"},"ty":{"language":"ty","value":"Fa\u2019ari\u2019ira\u2019a"},"udm":{"language":"udm","value":"\u041a\u0443\u0442\u0441\u043a\u043e\u043d
        \u0431\u0430\u043c"},"nb":{"language":"nb","value":"Wikimedia-forside"},"zh-hans":{"language":"zh-hans","value":"\u7ef4\u57fa\u5a92\u4f53\u8ba1\u5212\u9996\u9875"},"min":{"language":"min","value":"Laman
        Utamo"},"zh-hant":{"language":"zh-hant","value":"\u7dad\u57fa\u5a92\u9ad4\u8a08\u5283\u9996\u9801"},"zh-tw":{"language":"zh-tw","value":"\u7dad\u57fa\u5a92\u9ad4\u8a08\u5283\u9996\u9801"},"tyv":{"language":"tyv","value":"\u041a\u043e\u043b
        \u0430\u0440\u044b\u043d"},"crh-latn":{"language":"crh-latn","value":"Ba\u015f
        Saife"},"sgs":{"language":"sgs","value":"P\u0117rms poslapis"},"nan":{"language":"nan","value":"Th\u00e2u-ia\u030dh"},"lzh":{"language":"lzh","value":"\u5377\u9996"},"vro":{"language":"vro","value":"P\u00e4\u00e4leht"},"rup":{"language":"rup","value":"Prota
        fr\u00e3ndz\u00e3"},"zh-cn":{"language":"zh-cn","value":"\u7ef4\u57fa\u5a92\u4f53\u8ba1\u5212\u9996\u9875"},"zh-hk":{"language":"zh-hk","value":"\u7dad\u57fa\u5a92\u9ad4\u8a08\u5283\u9996\u9801"},"sr-el":{"language":"sr-el","value":"glavna
        strana"},"mai":{"language":"mai","value":"\u0938\u092e\u094d\u092e\u0941\u0916
        \u092a\u0928\u094d\u0928\u093e"},"zh-mo":{"language":"zh-mo","value":"\u7dad\u57fa\u5a92\u9ad4\u8a08\u5283\u9996\u9801"},"zh-sg":{"language":"zh-sg","value":"\u7ef4\u57fa\u5a92\u4f53\u8ba1\u5212\u9996\u9875"},"gom":{"language":"gom","value":"\u092e\u0941\u0916\u0947\u0932
        \u092a\u093e\u0928"},"lrc":{"language":"lrc","value":"\u0633\u0631\u0622\u0633\u0648\u0646\u0647"},"bho":{"language":"bho","value":"\u092e\u0941\u0916\u094d\u092f
        \u092a\u0928\u094d\u0928\u093e"},"azb":{"language":"azb","value":"\u0622\u0646\u0627
        \u0635\u0641\u062d\u0647"},"aeb-arab":{"language":"aeb-arab","value":"\u0627\u0644\u0635\u0641\u062d\u0629
        \u0627\u0644\u0623\u0648\u0644\u0627\u0646\u064a\u0629"},"tcy":{"language":"tcy","value":"\u0cae\u0cc1\u0c96\u0ccd\u0caf
        \u0caa\u0cc1\u0c9f"},"ady":{"language":"ady","value":"\u041d\u044d\u043a\u04c0\u0443\u0431\u0433\u044a\u043e
        \u0448\u044a\u0445\u044c\u0430\u04c0"},"kbp":{"language":"kbp","value":"Tal\u0269
        \u0256eu"},"jam":{"language":"jam","value":"Mien Piej"},"atj":{"language":"atj","value":"Otitikowin"},"olo":{"language":"olo","value":"Pi\u00e4sivu"},"dty":{"language":"dty","value":"\u092e\u0941\u0916\u094d\u092f
        \u092a\u0928\u094d\u0928\u093e"},"din":{"language":"din","value":"Apam k\u00ebd\u00eft"}},"descriptions":{"de":{"language":"de","value":"Hauptseite
        eines Wikimedia-Projekts"},"ilo":{"language":"ilo","value":"Umuna a panid
        ti Ilokano Wikipedia"},"fr":{"language":"fr","value":"page d''accueil des
[...]
