interactions:
- request:
    body: null
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: GET
    uri: https://www.wikidata.org/w/api.php?ids=Q10008448&action=wbgetentities&maxlag=5&format=json
  response:
    body: {string: '{"entities":{"Q10008448":{"pageid":8393236,"ns":0,"title":"Q8422626","lastrevid":585348672,"modified":"2017-10-28T15:18:06Z","redirects":{"from":"Q10008448","to":"Q8422626"},"type":"item","id":"Q8422626","labels":{"el":{"language":"el","value":"\u039a\u03b1\u03c4\u03b7\u03b3\u03bf\u03c1\u03af\u03b1:\u039a\u03cc\u03bc\u03b7\u03c4\u03b5\u03c2
        \u03c4\u03bf\u03c5 \u039c\u03c0\u03bb\u03bf\u03c5\u03ac"},"fr":{"language":"fr","value":"Cat\u00e9gorie:Comte
        de Blois"},"bg":{"language":"bg","value":"\u041a\u0430\u0442\u0435\u0433\u043e\u0440\u0438\u044f:\u0413\u0440\u0430\u0444\u043e\u0432\u0435
        \u043d\u0430 \u0411\u043b\u043e\u0430"},"nl":{"language":"nl","value":"Categorie:Graaf
        van Blois"},"pt":{"language":"pt","value":"Categoria:Condes de Blois"},"ru":{"language":"ru","value":"\u041a\u0430\u0442\u0435\u0433\u043e\u0440\u0438\u044f:\u0413\u0440\u0430\u0444\u044b
        \u0411\u043b\u0443\u0430"},"de":{"language":"de","value":"Kategorie:Graf (Blois)"},"it":{"language":"it","value":"Categoria:Conti
        di Blois"},"en":{"language":"en","value":"Category:Counts of Blois"},"cs":{"language":"cs","value":"Kategorie:Hrabata
        z Blois"},"id":{"language":"id","value":"Kategori:Comte Blois"},"sh":{"language":"sh","value":"Kategorija:Grofovi
        Bloisa"},"ja":{"language":"ja","value":"Category:\u30d6\u30ed\u30ef\u4f2f"},"eu":{"language":"eu","value":"Kategoria:Bloisko
        kondeak"},"ca":{"language":"ca","value":"Categoria:Comtes de Blois"},"ro":{"language":"ro","value":"Categorie:Con\u021bi
        de Blois"},"fa":{"language":"fa","value":"\u0631\u062f\u0647:\u06a9\u0646\u062a\u200c\u0647\u0627\u06cc
        \u0628\u0644\u0648\u0622"},"hr":{"language":"hr","value":"Kategorija:Grofovi
        Bloisa"},"bs":{"language":"bs","value":"Kategorija:Grofovi Bloisa"},"ko":{"language":"ko","value":"\ubd84\ub958:\ube14\ub8e8\uc544
        \ubc31\uc791"},"tr":{"language":"tr","value":"Kategori:Blois kontlar\u0131"},"ar":{"language":"ar","value":"\u062a\u0635\u0646\u064a\u0641:\u0643\u0648\u0646\u062a\u0627\u062a
        \u0628\u0644\u0648\u0627"},"be":{"language":"be","value":"\u041a\u0430\u0442\u044d\u0433\u043e\u0440\u044b\u044f:\u0413\u0440\u0430\u0444\u044b
        \u0411\u043b\u0443\u0430"}},"descriptions":{"fr":{"language":"fr","value":"page
        de cat\u00e9gorie d''un projet Wikimedia"},"it":{"language":"it","value":"categoria
        di un progetto Wikimedia"},"es":{"language":"es","value":"categor\u00eda de
        Wikimedia"},"de":{"language":"de","value":"Wikimedia-Kategorie"},"cs":{"language":"cs","value":"kategorie
        na projektech Wikimedia"},"da":{"language":"da","value":"Wikimedia-kategori"},"en":{"language":"en","value":"Wikimedia
        category"},"fi":{"language":"fi","value":"Wikimedia-luokka"},"gl":{"language":"gl","value":"categor\u00eda
        de Wikimedia"},"nds":{"language":"nds","value":"Kategorie op Wikimedia"},"pl":{"language":"pl","value":"kategoria
        Wikipedii"},"sv":{"language":"sv","value":"Wikimedia-kategori"},"pt":{"language":"pt","value":"categoria
        de um projeto da Wikimedia"},"pt-br":{"language":"pt-br","value":"categoria
        de um projeto da Wikimedia"},"ru":{"language":"ru","value":"\u043a\u0430\u0442\u0435\u0433\u043e\u0440\u0438\u044f
        \u0432 \u043f\u0440\u043e\u0435\u043a\u0442\u0435 \u0412\u0438\u043a\u0438\u043c\u0435\u0434\u0438\u0430"},"fa":{"language":"fa","value":"\u0631\u062f\u0647\u0654
        \u0648\u06cc\u06a9\u06cc\u200c\u0645\u062f\u06cc\u0627"},"ja":{"language":"ja","value":"\u30a6\u30a3\u30ad\u30e1\u30c7\u30a3\u30a2\u306e\u30ab\u30c6\u30b4\u30ea"},"nl":{"language":"nl","value":"Wikimedia-categorie"},"nn":{"language":"nn","value":"Wikimedia-kategori"},"nb":{"language":"nb","value":"Wikimedia-kategori"},"et":{"language":"et","value":"Wikimedia
        kategooria"},"bn":{"language":"bn","value":"\u0989\u0987\u0995\u09bf\u09ae\u09bf\u09a1\u09bf\u09af\u09bc\u09be
        \u09ac\u09bf\u09b7\u09af\u09bc\u09b6\u09cd\u09b0\u09c7\u09a3\u09c0"},"ca":{"language":"ca","value":"categoria
        de Wikimedia"},"ckb":{"language":"ckb","value":"\u067e\u06c6\u0644\u06cc \u0648\u06cc\u06a9\u06cc\u0645\u06cc\u062f\u06cc\u0627"},"el":{"language":"el","value":"\u03ba\u03b1\u03c4\u03b7\u03b3\u03bf\u03c1\u03af\u03b1
        \u03b5\u03b3\u03c7\u03b5\u03b9\u03c1\u03b7\u03bc\u03ac\u03c4\u03c9\u03bd Wikimedia"},"eo":{"language":"eo","value":"kategorio
        en Vikimedio"},"gu":{"language":"gu","value":"\u0ab5\u0abf\u0a95\u0abf\u0aaa\u0ac0\u0aa1\u0abf\u0aaf\u0abe
        \u0ab6\u0acd\u0ab0\u0ac7\u0aa3\u0ac0"},"he":{"language":"he","value":"\u05e7\u05d8\u05d2\u05d5\u05e8\u05d9\u05d4
        \u05d1\u05d5\u05d5\u05d9\u05e7\u05d9\u05e4\u05d3\u05d9\u05d4"},"ilo":{"language":"ilo","value":"kategoria
        ti Wikimedia"},"ko":{"language":"ko","value":"\uc704\ud0a4\ubbf8\ub514\uc5b4
        \ubd84\ub958"},"mk":{"language":"mk","value":"\u043a\u0430\u0442\u0435\u0433\u043e\u0440\u0438\u0458\u0430
        \u043d\u0430 \u0412\u0438\u043a\u0438\u043f\u0435\u0434\u0438\u0458\u0430"},"vi":{"language":"vi","value":"th\u1ec3
        lo\u1ea1i Wikimedia"},"zh":{"language":"zh","value":"\u7ef4\u57fa\u5a92\u4f53\u9879\u76ee\u5206\u7c7b"},"zh-hans":{"language":"zh-hans","value":"\u7ef4\u57fa\u5a92\u4f53\u9879\u76ee\u5206\u7c7b"},"zh-hant":{"language":"zh-hant","value":"\u7dad\u57fa\u5a92\u9ad4\u5c08\u6848\u5206\u985e"},"bg":{"language":"bg","value":"\u0423\u0438\u043a\u0438\u043c\u0435\u0434\u0438\u044f
        \u043a\u0430\u0442\u0435\u0433\u043e\u0440\u0438\u044f"},"hy":{"language":"hy","value":"\u054e\u056b\u0584\u056b\u0574\u0565\u0564\u056b\u0561\u0575\u056b
        \u0576\u0561\u056d\u0561\u0563\u056e\u056b \u056f\u0561\u057f\u0565\u0563\u0578\u0580\u056b\u0561"},"gsw":{"language":"gsw","value":"Wikimedia-Kategorie"},"be-tarask":{"language":"be-tarask","value":"\u041a\u0430\u0442\u044d\u0433\u043e\u0440\u044b\u044f"},"sr":{"language":"sr","value":"\u043a\u0430\u0442\u0435\u0433\u043e\u0440\u0438\u0458\u0430
        \u043d\u0430 \u0412\u0438\u043a\u0438\u043c\u0435\u0434\u0438\u0458\u0438"},"zh-tw":{"language":"zh-tw","value":"\u7dad\u57fa\u5a92\u9ad4\u5206\u985e"},"sco":{"language":"sco","value":"Wikimedia
        category"},"uk":{"language":"uk","value":"\u043a\u0430\u0442\u0435\u0433\u043e\u0440\u0456\u044f
        \u0432 \u043f\u0440\u043e\u0435\u043a\u0442\u0456 \u0412\u0456\u043a\u0456\u043c\u0435\u0434\u0456\u0430"},"lb":{"language":"lb","value":"Wikimedia-Kategorie"},"sl":{"language":"sl","value":"kategorija
        Wikimedije"},"zh-sg":{"language":"zh-sg","value":"\u7ef4\u57fa\u5a92\u4f53\u5206\u7c7b"},"de-ch":{"language":"de-ch","value":"Wikimedia-Kategorie"},"sk":{"language":"sk","value":"kateg\u00f3ria
        projektov Wikimedia"},"cy":{"language":"cy","value":"tudalen categori Wikimedia"},"bs":{"language":"bs","value":"kategorija
        na Wikimediji"},"zh-my":{"language":"zh-my","value":"\u7ef4\u57fa\u5a92\u4f53\u5206\u7c7b"},"lv":{"language":"lv","value":"Wikimedia
        projekta kategorija"},"de-at":{"language":"de-at","value":"Wikimedia-Kategorie"},"zh-cn":{"language":"zh-cn","value":"\u7ef4\u57fa\u5a92\u4f53\u5206\u7c7b"},"nap":{"language":"nap","value":"categur\u00eca
        ''e nu pruggette Wikimedia"},"be":{"language":"be","value":"\u043a\u0430\u0442\u044d\u0433\u0430\u0440\u044b\u0437\u0430\u0446\u044b\u044f"},"ar":{"language":"ar","value":"\u062a\u0635\u0646\u064a\u0641
        \u0648\u064a\u0643\u064a\u0645\u064a\u062f\u064a\u0627"},"hu":{"language":"hu","value":"Wikim\u00e9dia-kateg\u00f3ria"},"yue":{"language":"yue","value":"\u7dad\u57fa\u5a92\u9ad4\u5206\u985e"},"zh-hk":{"language":"zh-hk","value":"\u7dad\u57fa\u5a92\u9ad4\u5206\u985e"},"hr":{"language":"hr","value":"kategorija
        na Wikimediji"},"zh-mo":{"language":"zh-mo","value":"\u7dad\u57fa\u5a92\u9ad4\u5206\u985e"},"eu":{"language":"eu","value":"Wikimediako
        kategoria"},"ro":{"language":"ro","value":"categorie a unui proiect Wikimedia"},"bjn":{"language":"bjn","value":"tumbung
        Wikimedia"},"bug":{"language":"bug","value":"kategori Wikimedia"},"se":{"language":"se","value":"Wikimedia-kategoriija"},"bar":{"language":"bar","value":"Wikimedia-Kategorie"},"ast":{"language":"ast","value":"categor\u00eda
        de Wikimedia"},"tg":{"language":"tg","value":"\u0433\u0443\u0440\u04ef\u04b3\u0438
        \u0412\u0438\u043a\u0438\u043c\u0435\u0434\u0438\u0430"},"ace":{"language":"ace","value":"kawan
        Wikim\u00e8dia"},"ky":{"language":"ky","value":"Wikimedia \u043a\u0430\u0442\u0435\u0433\u043e\u0440\u0438\u044f\u0441\u044b"},"hi":{"language":"hi","value":"\u0935\u093f\u0915\u093f\u092e\u0940\u0921\u093f\u092f\u093e
        \u0936\u094d\u0930\u0947\u0923\u0940"},"af":{"language":"af","value":"Wikimedia-kategorie"},"ba":{"language":"ba","value":"\u0412\u0438\u043a\u0438\u043c\u0435\u0434\u0438\u0430
        \u043a\u0430\u0442\u0435\u0433\u043e\u0440\u0438\u044f\u04bb\u044b"},"tr":{"language":"tr","value":"Vikimedya
        kategorisi"},"bho":{"language":"bho","value":"\u0935\u093f\u0915\u093f\u092a\u0940\u0921\u093f\u092f\u093e:\u0936\u094d\u0930\u0947\u0923\u0940"},"an":{"language":"an","value":"categor\u00eda
        de Wikimedia"},"br":{"language":"br","value":"pajenn rummata eus Wikimedia"}},"aliases":{},"claims":{"P373":[{"mainsnak":{"snaktype":"value","property":"P373","hash":"595782a7b948c1bc6f2dfc7fef93a5ad955f83da","datavalue":{"value":"Counts
        of Blois","type":"string"},"datatype":"string"},"type":"statement","id":"q8422626$D28895B7-18C5-43B0-A888-DFAAE5093B8C","rank":"normal","references":[{"hash":"fa278ebfc458360e5aed63d5058cca83c46134f1","snaks":{"P143":[{"snaktype":"value","property":"P143","hash":"e4f6d9441d0600513c4533c672b5ab472dc73694","datavalue":{"value":{"entity-type":"item","numeric-id":328,"id":"Q328"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P31":[{"mainsnak":{"snaktype":"value","property":"P31","hash":"6ce6fb09d8a0ca69b7054c628cf9b004c29c0003","datavalue":{"value":{"entity-type":"item","numeric-id":4167836,"id":"Q4167836"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q8422626$18919A13-5453-4842-8979-F42AB5D6162C","rank":"normal","references":[{"hash":"3bf39867b037e8e494a8389ae8a03bad6825a7fc","snaks":{"P143":[{"snaktype":"value","property":"P143","hash":"5946b91c53409c48f5f1fb0319ed41fc67a764da","datavalue":{"value":{"entity-type":"item","numeric-id":191168,"id":"Q191168"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]},{"hash":"b3fd5e254143d8b52cd96cff43af9af5e3a82358","snaks":{"P143":[{"snaktype":"value","property":"P143","hash":"f13c99a16441677ec69fcea23f221d866f1fc98f","datavalue":{"value":{"entity-type":"item","numeric-id":199693,"id":"Q199693"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]},{"hash":"6945c7f21a216fec240306b3def25f537698a5fa","snaks":{"P143":[{"snaktype":"value","property":"P143","hash":"b444eb02e3c9e850b533255b67b5f60c2293b496","datavalue":{"value":{"entity-type":"item","numeric-id":199864,"id":"Q199864"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P301":[{"mainsnak":{"snaktype":"value","property":"P301","hash":"d5e0bac12c5b806f0944faffbbe327cb717f8aa8","datavalue":{"value":{"entity-type":"item","numeric-id":804519,"id":"Q804519"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q8422626$E535E12F-FCAB-44AC-BA25-F19FBB788CB2","rank":"normal"}]},"sitelinks":{"arwiki":{"site":"arwiki","title":"\u062a\u0635\u0646\u064a\u0641:\u0643\u0648\u0646\u062a\u0627\u062a
        \u0628\u0644\u0648\u0627","badges":[]},"bewiki":{"site":"bewiki","title":"\u041a\u0430\u0442\u044d\u0433\u043e\u0440\u044b\u044f:\u0413\u0440\u0430\u0444\u044b
        \u0411\u043b\u0443\u0430","badges":[]},"bgwiki":{"site":"bgwiki","title":"\u041a\u0430\u0442\u0435\u0433\u043e\u0440\u0438\u044f:\u0413\u0440\u0430\u0444\u043e\u0432\u0435
        \u043d\u0430 \u0411\u043b\u043e\u0430","badges":[]},"bswiki":{"site":"bswiki","title":"Kategorija:Grofovi
        Bloisa","badges":[]},"cawiki":{"site":"cawiki","title":"Categoria:Comtes de
        Blois","badges":[]},"commonswiki":{"site":"commonswiki","title":"Category:Counts
        of Blois","badges":[]},"cswiki":{"site":"cswiki","title":"Kategorie:Hrabata
        z Blois","badges":[]},"dewiki":{"site":"dewiki","title":"Kategorie:Graf (Blois)","badges":[]},"elwiki":{"site":"elwiki","title":"\u039a\u03b1\u03c4\u03b7\u03b3\u03bf\u03c1\u03af\u03b1:\u039a\u03cc\u03bc\u03b7\u03c4\u03b5\u03c2
        \u03c4\u03bf\u03c5 \u039c\u03c0\u03bb\u03bf\u03c5\u03ac","badges":[]},"enwiki":{"site":"enwiki","title":"Category:Counts
        of Blois","badges":[]},"euwiki":{"site":"euwiki","title":"Kategoria:Bloisko
        kondeak","badges":[]},"fawiki":{"site":"fawiki","title":"\u0631\u062f\u0647:\u06a9\u0646\u062a\u200c\u0647\u0627\u06cc
        \u0628\u0644\u0648\u0622","badges":[]},"frwiki":{"site":"frwiki","title":"Cat\u00e9gorie:Comte
        de Blois","badges":[]},"hrwiki":{"site":"hrwiki","title":"Kategorija:Grofovi
        Bloisa","badges":[]},"idwiki":{"site":"idwiki","title":"Kategori:Comte Blois","badges":[]},"itwiki":{"site":"itwiki","title":"Categoria:Conti
        di Blois","badges":[]},"jawiki":{"site":"jawiki","title":"Category:\u30d6\u30ed\u30ef\u4f2f","badges":[]},"kowiki":{"site":"kowiki","title":"\ubd84\ub958:\ube14\ub8e8\uc544
        \ubc31\uc791","badges":[]},"nlwiki":{"site":"nlwiki","title":"Categorie:Graaf
        van Blois","badges":[]},"ptwiki":{"site":"ptwiki","title":"Categoria:Condes
        de Blois","badges":[]},"rowiki":{"site":"rowiki","title":"Categorie:Con\u021bi
        de Blois","badges":[]},"ruwiki":{"site":"ruwiki","title":"\u041a\u0430\u0442\u0435\u0433\u043e\u0440\u0438\u044f:\u0413\u0440\u0430\u0444\u044b
        \u0411\u043b\u0443\u0430","badges":[]},"shwiki":{"site":"shwiki","title":"Kategorija:Grofovi
        Bloisa","badges":[]},"trwiki":{"site":"trwiki","title":"Kategori:Blois kontlar\u0131","badges":[]}}}},"success":1}'}
    headers:
      Backend-Timing: [D=53466 t=1516017382844994]
      Content-Disposition: [inline; filename="api-result.json"]
      Content-Type: [application/json; charset=utf-8]
      X-Analytics: [ns=-1;special=Badtitle;https=1;nocookies=1]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=query&prop=info&titles=Q10008448&redirects=&meta=userinfo&uiprop=blockinfo%7Chasmsg&rawcontinue=&maxlag=5&format=json
  response:
    body: {string: '{"query":{"redirects":[{"from":"Q10008448","to":"Q8422626"}],"pages":{"8393236":{"pageid":8393236,"ns":0,"title":"Q8422626","contentmodel":"wikibase-item","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr","touched":"2017-10-28T15:18:06Z","lastrevid":585348672,"length":14700}},"userinfo":{"id":0,"name":"192.0.2.42","anon":""}}}'}
    headers:
      Backend-Timing: [D=39861 t=1516017383454818]
      Content-Disposition: [inline; filename="api-result.json"]
      Content-Type: [application/json; charset=utf-8]
      X-Analytics: [ns=-1;special=Badtitle;https=1;nocookies=1]
    status: {code: 200, message: OK}
version: 1
