interactions:
- request:
    body: null
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=paraminfo&modules=main%7Cparaminfo%7Cquery&maxlag=5&format=json
  response:
    body: {string: '{"paraminfo":{"helpformat":"none","modules":[{"name":"main","classname":"ApiMain","path":"main","prefix":"","source":"MediaWiki","sourcename":"MediaWiki","licensetag":"GPL-2.0+","licenselink":"//www.wikidata.org/wiki/Special:Version/License/MediaWiki","helpurls":[],"parameters":[{"name":"action","default":"help","type":["abusefiltercheckmatch","abusefilterchecksyntax","abusefilterevalexpression","abusefilterunblockautopromote","aggregategroups","antispoof","block","bouncehandler","categorytree","centralauthtoken","centralnoticecdncacheupdatebanner","centralnoticechoicedata","centralnoticequerycampaign","changeauthenticationdata","checktoken","cirrus-config-dump","cirrus-mapping-dump","cirrus-settings-dump","clearhasmsg","clientlogin","compare","createaccount","cspreport","delete","deleteglobalaccount","echomar[...]
- request:
    body: null
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=paraminfo&modules=wbgetentities&maxlag=5&format=json
  response:
    body: {string: '{"paraminfo":{"helpformat":"none","modules":[{"name":"wbgetentities","classname":"Wikibase\\Repo\\Api\\GetEntities","path":"wbgetentities","group":"action","prefix":"","source":"Wikibase
        Repository","sourcename":"Wikibase Repository","licensetag":"GPL-2.0+","licenselink":"//www.wikidata.org/wiki/Special:Version/License/Wikibase_Repository","readrights":"","helpurls":[],"parameters":[{"name":"ids","multi":"","lowlimit":50,"highlimit":500,"limit":50,"type":"string"},{"name":"sites","multi":"","lowlimit":50,"highlimit":500,"limit":50,"allowsduplicates":"","type":["aawikibooks","aawiktionary","abwiktionary","afwikibooks","afwikiquote","afwiktionary","akwikibooks","akwiktionary","alswikibooks","alswikiquote","alswiktionary","amwikiquote","amwiktionary","angwikibooks","angwikiquote","angwikisource","angwiktionary","anwiktionary","arwikibooks","arwikinews","arwikiquote","arwikisource","arwikiversity","arwiktionary","astwikibooks","astwikiquote","astwiktionary","aswikibooks","aswikisource","aswiktionary","avwiktionary","aywikibooks","aywiktionary",[...]
- request:
    body: null
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: GET
    uri: https://www.wikidata.org/w/api.php?ids=Q60&action=wbgetentities&maxlag=5&format=json
  response:
    body: {string: '{"entities":{"Q60":{"pageid":186,"ns":0,"title":"Q60","lastrevid":620375932,"modified":"2018-01-14T21:28:54Z","type":"item","id":"Q60","labels":{"en":{"language":"en","value":"New
        York City"},"ar":{"language":"ar","value":"\u0646\u064a\u0648\u064a\u0648\u0631\u0643"},"fr":{"language":"fr","value":"New
        York"},"it":{"language":"it","value":"New York"},"pl":{"language":"pl","value":"Nowy
        Jork"},"de":{"language":"de","value":"New York City"},"nl":{"language":"nl","value":"New
        York"},"be-tarask":{"language":"be-tarask","value":"\u041d\u044c\u044e-\u0401\u0440\u043a"},"nan":{"language":"nan","value":"New
        York Chh\u012b"},"hr":{"language":"hr","value":"New York City"},"ja":{"language":"ja","value":"\u30cb\u30e5\u30fc\u30e8\u30fc\u30af"},"es":{"language":"es","value":"Nueva
        York"},"eo":{"language":"eo","value":"Novjorko"},"af":{"language":"af","value":"New
        York Stad"},"am":{"language":"am","value":"\u1292\u12cd \u12ee\u122d\u12ad
        \u12a8\u1270\u121b"},"an":{"language":"an","value":"Nueva York"},"ang":{"language":"ang","value":"N\u012b\u01bfeofor\u01bf\u012bcburg"},"arc":{"language":"arc","value":"\u0722\u071d\u0718
        \u071d\u0718\u072a\u0729"},"arz":{"language":"arz","value":"\u0646\u064a\u0648\u064a\u0648\u0631\u0643"},"ast":{"language":"ast","value":"Nueva
        York"},"ay":{"language":"ay","value":"New York"},"az":{"language":"az","value":"Nyu-York"},"ba":{"language":"ba","value":"\u041d\u044c\u044e-\u0419\u043e\u0440\u043a"},"bar":{"language":"bar","value":"New
        York City"},"bcl":{"language":"bcl","value":"Nueva York"},"be":{"language":"be","value":"\u041d\u044c\u044e-\u0401\u0440\u043a"},"bg":{"language":"bg","value":"\u041d\u044e
        \u0419\u043e\u0440\u043a"},"bn":{"language":"bn","value":"\u09a8\u09bf\u0989
        \u0987\u09af\u09bc\u09b0\u09cd\u0995 \u09b8\u09bf\u099f\u09bf"},"bo":{"language":"bo","value":"\u0f53\u0f7a\u0f60\u0f74\u0f0b\u0f61\u0f7c\u0f62\u0f0b\u0f40\u0f0d"},"br":{"language":"br","value":"New
        York"},"bs":{"language":"bs","value":"New York City"},"bug":{"language":"bug","value":"Kuta
        New York"},"ca":{"language":"ca","value":"Nova York"},"ce":{"language":"ce","value":"\u041d\u044c\u044e-\u0419\u043e\u0440\u043a"},"ceb":{"language":"ceb","value":"Dakbayan
        sa New York"},"ckb":{"language":"ckb","value":"\u0646\u06cc\u0648\u06cc\u06c6\u0631\u06a9"},"co":{"language":"co","value":"New
        York"},"cs":{"language":"cs","value":"New York"},"cv":{"language":"cv","value":"\u00c7\u0115\u043d\u0115
        \u0419\u043e\u0440\u043a"},"cy":{"language":"cy","value":"Dinas Efrog Newydd"},"da":{"language":"da","value":"New
        York City"},"diq":{"language":"diq","value":"New York City"},"dsb":{"language":"dsb","value":"New
        York City"},"el":{"language":"el","value":"\u039d\u03ad\u03b1 \u03a5\u03cc\u03c1\u03ba\u03b7"},"et":{"language":"et","value":"New
        York"},"eu":{"language":"eu","value":"New York"},"ext":{"language":"ext","value":"Nueva
        York"},"fa":{"language":"fa","value":"\u0646\u06cc\u0648\u06cc\u0648\u0631\u06a9"},"fi":{"language":"fi","value":"New
        York"},"fo":{"language":"fo","value":"New York City"},"frp":{"language":"frp","value":"New
        York"},"frr":{"language":"frr","value":"New York City"},"fy":{"language":"fy","value":"New
        York City"},"ga":{"language":"ga","value":"Nua-Eabhrac"},"gan":{"language":"gan","value":"\u7d10\u7d04"},"gd":{"language":"gd","value":"Eabhraig
        Nuadh"},"gl":{"language":"gl","value":"Nova York"},"gn":{"language":"gn","value":"T\u00e1va
        Nueva York"},"gv":{"language":"gv","value":"Caayr York Noa"},"he":{"language":"he","value":"\u05e0\u05d9\u05d5
        \u05d9\u05d5\u05e8\u05e7"},"hi":{"language":"hi","value":"\u0928\u094d\u092f\u0942\u092f\u0949\u0930\u094d\u0915
        \u0928\u0917\u0930"},"hif":{"language":"hif","value":"New York City"},"hsb":{"language":"hsb","value":"New
        York City"},"ht":{"language":"ht","value":"Nouy\u00f2k"},"hu":{"language":"hu","value":"New
        York"},"hy":{"language":"hy","value":"\u0546\u0575\u0578\u0582 \u0545\u0578\u0580\u0584"},"ia":{"language":"ia","value":"New
        York"},"id":{"language":"id","value":"New York City"},"ig":{"language":"ig","value":"New
        York City"},"ik":{"language":"ik","value":"Tchiaq York Iniqpak"},"ilo":{"language":"ilo","value":"Siudad
        ti New York"},"io":{"language":"io","value":"New York"},"is":{"language":"is","value":"New
        York-borg"},"jbo":{"language":"jbo","value":"niu,IORK. zei tcadu"},"jv":{"language":"jv","value":"New
        York"},"ka":{"language":"ka","value":"\u10dc\u10d8\u10e3-\u10d8\u10dd\u10e0\u10d9\u10d8"},"kk":{"language":"kk","value":"\u041d\u044c\u044e-\u0419\u043e\u0440\u043a"},"km":{"language":"km","value":"\u1791\u17b8\u1780\u17d2\u179a\u17bb\u1784\u1789\u17bc\u179c\u1799\u17c9\u1780"},"kn":{"language":"kn","value":"\u0ca8\u0ccd\u0caf\u0cc2
        \u0caf\u0cbe\u0cb0\u0ccd\u0c95\u0ccd \u0ca8\u0c97\u0cb0"},"ko":{"language":"ko","value":"\ub274\uc695"},"krc":{"language":"krc","value":"\u041d\u044c\u044e-\u0419\u043e\u0440\u043a"},"ku":{"language":"ku","value":"New
        York City"},"kw":{"language":"kw","value":"Evrek Nowydh"},"ky":{"language":"ky","value":"\u041d\u044c\u044e-\u0419\u043e\u0440\u043a"},"la":{"language":"la","value":"Novum
        Eboracum"},"lad":{"language":"lad","value":"Mueva York"},"lb":{"language":"lb","value":"New
        York City"},"lez":{"language":"lez","value":"\u041d\u044c\u044e-\u0419\u043e\u0440\u043a"},"li":{"language":"li","value":"New
        York City"},"lij":{"language":"lij","value":"Niorche"},"lmo":{"language":"lmo","value":"New
        York"},"ln":{"language":"ln","value":"New York"},"lt":{"language":"lt","value":"Niujorkas"},"lv":{"language":"lv","value":"\u0145ujorka"},"mg":{"language":"mg","value":"New
        York"},"mhr":{"language":"mhr","value":"\u041d\u044c\u044e-\u0419\u043e\u0440\u043a"},"mi":{"language":"mi","value":"New
        York City"},"mk":{"language":"mk","value":"\u040a\u0443\u0458\u043e\u0440\u043a"},"ml":{"language":"ml","value":"\u0d28\u0d4d\u0d2f\u0d42\u0d2f\u0d4b\u0d7c\u0d15\u0d4d\u0d15\u0d4d
        \u0d28\u0d17\u0d30\u0d02"},"mn":{"language":"mn","value":"\u041d\u044c\u044e-\u0419\u043e\u0440\u043a
        \u0445\u043e\u0442"},"mr":{"language":"mr","value":"\u0928\u094d\u092f\u0942
        \u092f\u0949\u0930\u094d\u0915 \u0936\u0939\u0930"},"mrj":{"language":"mrj","value":"\u041d\u044c\u044e-\u0419\u043e\u0440\u043a"},"ms":{"language":"ms","value":"Bandar
        Raya New York"},"mwl":{"language":"mwl","value":"Nuoba Iorque"},"mzn":{"language":"mzn","value":"\u0646\u06cc\u0648\u06cc\u0648\u0631\u06a9"},"na":{"language":"na","value":"New
        York"},"nah":{"language":"nah","value":"\u0100ltep\u0113tl Yancu\u012bc York"},"nap":{"language":"nap","value":"Nova
        York"},"nds":{"language":"nds","value":"New York"},"nds-nl":{"language":"nds-nl","value":"Niej-York"},"ne":{"language":"ne","value":"\u0928\u094d\u092f\u0941\u092f\u094b\u0930\u094d\u0915
        \u0938\u0939\u0930"},"nn":{"language":"nn","value":"New York by"},"nov":{"language":"nov","value":"Novi
        York"},"nrm":{"language":"nrm","value":"Nouvieau York"},"oc":{"language":"oc","value":"N\u00f2va
        York"},"os":{"language":"os","value":"\u041d\u044c\u044e-\u0419\u043e\u0440\u043a"},"pa":{"language":"pa","value":"\u0a28\u0a3f\u0a0a\u0a2f\u0a3e\u0a30\u0a15
        \u0a38\u0a3c\u0a39\u0a3f\u0a30"},"pam":{"language":"pam","value":"New York
        Lakanbalen"},"pap":{"language":"pap","value":"New York City"},"pdc":{"language":"pdc","value":"Nei
        Yarrick Schtadt"},"pfl":{"language":"pfl","value":"Nju Yoorg Siddi"},"pms":{"language":"pms","value":"New
        York"},"pnb":{"language":"pnb","value":"\u0646\u06cc\u0648 \u06cc\u0627\u0631\u06a9
        \u0634\u06c1\u0631"},"pt":{"language":"pt","value":"Nova Iorque"},"qu":{"language":"qu","value":"New
        York"},"rm":{"language":"rm","value":"New York"},"rmy":{"language":"rmy","value":"New
        York City"},"ro":{"language":"ro","value":"New York"},"roa-tara":{"language":"roa-tara","value":"Nu\u00e8ve
        York"},"ru":{"language":"ru","value":"\u041d\u044c\u044e-\u0419\u043e\u0440\u043a"},"rue":{"language":"rue","value":"\u041d\u044e
        \u0419\u043e\u0440\u043a"},"sa":{"language":"sa","value":"\u0928\u094d\u200d\u092f\u0942
        \u092f\u093e\u0930\u094d\u0915"},"sah":{"language":"sah","value":"\u041d\u044c\u044e
        \u0419\u043e\u0440\u043a"},"sc":{"language":"sc","value":"New York"},"scn":{"language":"scn","value":"Nova
        York"},"sco":{"language":"sco","value":"New York Ceety"},"sh":{"language":"sh","value":"New
        York"},"sk":{"language":"sk","value":"New York"},"sl":{"language":"sl","value":"New
        York"},"so":{"language":"so","value":"New York"},"sq":{"language":"sq","value":"New
        York City"},"sr":{"language":"sr","value":"\u040a\u0443\u0458\u043e\u0440\u043a"},"srn":{"language":"srn","value":"New
        York City"},"stq":{"language":"stq","value":"New York City"},"sv":{"language":"sv","value":"New
        York"},"sw":{"language":"sw","value":"New York"},"szl":{"language":"szl","value":"Nowy
        Jork"},"ta":{"language":"ta","value":"\u0ba8\u0bbf\u0baf\u0bc2\u0baf\u0bbe\u0bb0\u0bcd\u0b95\u0bcd
        \u0ba8\u0b95\u0bb0\u0bae\u0bcd"},"te":{"language":"te","value":"\u0c28\u0c4d\u0c2f\u0c42\u0c2f\u0c3e\u0c30\u0c4d\u0c15\u0c4d"},"tg":{"language":"tg","value":"\u041d\u044e-\u0419\u043e\u0440\u043a"},"th":{"language":"th","value":"\u0e19\u0e04\u0e23\u0e19\u0e34\u0e27\u0e22\u0e2d\u0e23\u0e4c\u0e01"},"tk":{"language":"tk","value":"N\u00fdu-\u00ddork"},"tl":{"language":"tl","value":"Lungsod
        ng New York"},"tpi":{"language":"tpi","value":"Niu Yok Siti"},"tr":{"language":"tr","value":"New
        York"},"tt":{"language":"tt","value":"\u041d\u044c\u044e-\u0419\u043e\u0440\u043a"},"ty":{"language":"ty","value":"New
        York"},"udm":{"language":"udm","value":"\u041d\u044c\u044e-\u0419\u043e\u0440\u043a"},"ug":{"language":"ug","value":"Nyu
        York Shehiri"},"uk":{"language":"uk","value":"\u041d\u044c\u044e-\u0419\u043e\u0440\u043a"},"ur":{"language":"ur","value":"\u0646\u06cc\u0648\u06cc\u0627\u0631\u06a9
        \u0634\u06c1\u0631"},"uz":{"language":"uz","value":"Nyu-York shahri"},"vec":{"language":"vec","value":"New
        York"},"vep":{"language":"vep","value":"Nju Jork"},"vi":{"language":"vi","value":"Th\u00e0nh
        ph\u1ed1 New York"},"vo":{"language":"vo","value":"New York"},"war":{"language":"war","value":"Syudad
        han New York"},"wuu":{"language":"wuu","value":"\u7ebd\u7ea6\u5e02"},"xal":{"language":"xal","value":"\u041d\u044c\u044e
        \u0419\u043e\u0440\u043a \u0431\u0430\u043b\u04bb\u0441\u043d"},"xmf":{"language":"xmf","value":"\u10dc\u10d8\u10e3-\u10d8\u10dd\u10e0\u10e5\u10d8"},"yi":{"language":"yi","value":"\u05e0\u05d9\u05d5
        \u05d9\u05d0\u05e8\u05e7"},"yo":{"language":"yo","value":"New York"},"za":{"language":"za","value":"Niujyoz"},"zea":{"language":"zea","value":"New
        York"},"zh":{"language":"zh","value":"\u7ebd\u7ea6"},"zu":{"language":"zu","value":"New
        York"},"en-ca":{"language":"en-ca","value":"New York City"},"en-gb":{"language":"en-gb","value":"New
        York City"},"zh-cn":{"language":"zh-cn","value":"\u7ebd\u7ea6"},"zh-hans":{"language":"zh-hans","value":"\u7ebd\u7ea6"},"zh-hant":{"language":"zh-hant","value":"\u7d10\u7d04"},"de-ch":{"language":"de-ch","value":"New
        York City"},"pt-br":{"language":"pt-br","value":"Nova Iorque"},"yue":{"language":"yue","value":"\u7d10\u7d04\u5e02"},"nb":{"language":"nb","value":"New
        York"},"zh-sg":{"language":"zh-sg","value":"\u7ebd\u7ea6"},"zh-hk":{"language":"zh-hk","value":"\u7d10\u7d04"},"zh-tw":{"language":"zh-tw","value":"\u7d10\u7d04"},"zh-mo":{"language":"zh-mo","value":"\u7d10\u7d04"},"kab":{"language":"kab","value":"New
        York"},"new":{"language":"new","value":"\u0928\u094d\u092f\u0941 \u092f\u0930\u094d\u0915
        \u0928\u0917\u0930"},"cdo":{"language":"cdo","value":"Ni\u016b-i\u00f3k-ch\u00ea"},"sr-ec":{"language":"sr-ec","value":"\u040a\u0443\u0458\u043e\u0440\u043a"},"sr-el":{"language":"sr-el","value":"Njujork"},"crh-latn":{"language":"crh-latn","value":"Nyu
        York"},"gsw":{"language":"gsw","value":"New York City"},"sgs":{"language":"sgs","value":"Niojuorks"},"lzh":{"language":"lzh","value":"\u7d10\u7d04\u5e02"},"rup":{"language":"rup","value":"New
        York City"},"vro":{"language":"vro","value":"New York"},"hak":{"language":"hak","value":"N\u00e9u-yok-s\u1e73"},"tw":{"language":"tw","value":"New
        York"},"bxr":{"language":"bxr","value":"\u041d\u044c\u044e \u0419\u043e\u0440\u043a
        \u0445\u043e\u0442\u043e"},"ie":{"language":"ie","value":"New York"},"as":{"language":"as","value":"\u09a8\u09bf\u0989\u09af\u09bc\u09f0\u09cd\u0995
        \u09ae\u09b9\u09be\u09a8\u0997\u09f0"},"kaa":{"language":"kaa","value":"Nyu
        york"},"si":{"language":"si","value":"\u0db1\u0dd2\u0dc0\u0dca\u0dba\u0ddd\u0dbb\u0dca\u0d9a\u0dca
        \u0db1\u0d9c\u0dbb\u0dba"},"brh":{"language":"brh","value":"Ni\u00fa Y\u00e1rk
        \u015e\u00e1r"},"gu":{"language":"gu","value":"\u0aa8\u0acd\u0aaf\u0ac2 \u0aaf\u0acb\u0ab0\u0acd\u0a95
        \u0ab8\u0ac0\u0a9f\u0ac0"},"my":{"language":"my","value":"\u1014\u101a\u1030\u1038\u101a\u1031\u102c\u1000\u103a\u1019\u103c\u102d\u102f\u1037"},"ps":{"language":"ps","value":"\u0646\u064a\u0648\u064a\u0627\u0631\u06a9"},"su":{"language":"su","value":"New
        York"},"map-bms":{"language":"map-bms","value":"New York"},"nso":{"language":"nso","value":"New
        York"},"bjn":{"language":"bjn","value":"New York"},"cu":{"language":"cu","value":"\u041d\u044c\u044e-\u0419\u043e\u0440\u043a"},"chr":{"language":"chr","value":"\u13c4\u13ef\u13a9
        BMX"},"iu":{"language":"iu","value":"\u14c2\u1405 \u1403\u1405\u1550\u1483
        \u14ef\u144e"},"kbd":{"language":"kbd","value":"\u041d\u044c\u044e-\u0419\u043e\u0440\u043a"},"gag":{"language":"gag","value":"New
        York City"},"eml":{"language":"eml","value":"New York"},"bho":{"language":"bho","value":"\u0928\u094d\u092f\u0942\u092f\u0949\u0930\u094d\u0915"},"azb":{"language":"azb","value":"\u0646\u06cc\u0648\u06cc\u0648\u0631\u06a9\u200c"},"ch":{"language":"ch","value":"New
        York City"},"ki":{"language":"ki","value":"New York City"},"sd":{"language":"sd","value":"\u0646\u064a\u0648
        \u064a\u0627\u0631\u06aa \u0634\u0647\u0631"},"sm":{"language":"sm","value":"Niu
        Ioka"},"de-at":{"language":"de-at","value":"New York City"},"ny":{"language":"ny","value":"New
        York City"},"bm":{"language":"bm","value":"New York City"},"jam":{"language":"jam","value":"Nyuu
        Yaak Siti"},"fj":{"language":"fj","value":"New York City"},"olo":{"language":"olo","value":"New
        York"},"kk-cyrl":{"language":"kk-cyrl","value":"\u041d\u044c\u044e-\u0419\u043e\u0440\u043a"},"tg-cyrl":{"language":"tg-cyrl","value":"\u041d\u044e-\u0419\u043e\u0440\u043a"},"mai":{"language":"mai","value":"\u0928\u094d\u092f\u0942
        \u092f\u094b\u0930\u094d\u0915 \u0936\u0939\u0930"},"bi":{"language":"bi","value":"Niu
        York"},"glk":{"language":"glk","value":"\u0646\u064a\u0624\u064a\u0624\u0631\u06a9"},"myv":{"language":"myv","value":"\u041d\u044c\u044e-\u0419\u043e\u0440\u043a
        \u043e\u0448"},"nv":{"language":"nv","value":"Kin Y\u00f3t\u02bc\u00e1\u00e1h
        Deez\u02bc\u00e1"},"dty":{"language":"dty","value":"\u0928\u094d\u092f\u0942\u092f\u094b\u0930\u094d\u0915
        \u0936\u0939\u0930"},"kbp":{"language":"kbp","value":"Niyuu Y\u0254r\u0269k\u0269"},"pih":{"language":"pih","value":"Nyuu
        York"},"ha":{"language":"ha","value":"New York"}},"descriptions":{"en":{"language":"en","value":"city
        in state of New York, United States"},"it":{"language":"it","value":"citt\u00e0
        degli Stati uniti"},"pl":{"language":"pl","value":"miasto w Stanach Zjednoczonych"},"fr":{"language":"fr","value":"ville
        de l''\u00c9tat de New York (\u00c9tats-Unis)"},"de":{"language":"de","value":"Metropole
        an der Ostk\u00fcste der Vereinigten Staaten"},"nl":{"language":"nl","value":"stad
        aan de oostkust van de Verenigde Staten"},"es":{"l[...]
- request:
    body: null
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?action=query&meta=siteinfo%7Cuserinfo&siprop=namespaces%7Cnamespacealiases%7Cgeneral&continue=&uiprop=blockinfo%7Chasmsg&maxlag=5&format=json
  response:
    body: {string: '{"batchcomplete":"","query":{"namespaces":{"-2":{"id":-2,"case":"first-letter","canonical":"Media","*":"Media"},"-1":{"id":-1,"case":"first-letter","canonical":"Special","*":"Special"},"0":{"id":0,"case":"first-letter","content":"","*":""},"1":{"id":1,"case":"first-letter","subpages":"","canonical":"Talk","*":"Talk"},"2":{"id":2,"case":"first-letter","subpages":"","canonical":"User","*":"User"},"3":{"id":3,"case":"first-letter","subpages":"","canonical":"User
        talk","*":"User talk"},"4":{"id":4,"case":"first-letter","subpages":"","canonical":"Project","*":"Commons"},"5":{"id":5,"case":"first-letter","subpages":"","canonical":"Project
        talk","*":"Commons talk"},"6":{"id":6,"case":"first-letter","canonical":"File","content":"","*":"File"},"7":{"id":7,"case":"firs[...]
- request:
    body: null
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?action=paraminfo&modules=main%7Cparaminfo%7Cquery&maxlag=5&format=json
  response:
    body: {string: '{"paraminfo":{"helpformat":"none","modules":[{"name":"main","classname":"ApiMain","path":"main","prefix":"","source":"MediaWiki","sourcename":"MediaWiki","licensetag":"GPL-2.0+","licenselink":"//commons.wikimedia.org/wiki/Special:Version[...]
- request:
    body: null
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?action=paraminfo&modules=query%2Binfo&maxlag=5&format=json
  response:
    body: {string: '{"paraminfo":{"helpformat":"none","modules":[{"name":"info","classname":"ApiQueryInfo","path":"query+info","group":"prop","prefix":"in","source":"MediaWiki","sourcename":"MediaWiki","licensetag":"GPL-2.0+","licenselink":"//commons.wikimedia.org/wiki/Special:Version/License/MediaWiki","readrights":"","helpurls":["https://www.mediawiki.org/wiki/Special:MyLanguage/API:Info"],"parameters":[{"name":"prop","multi":"","lowlimit":50,"highlimit":500,"limit":50,"type":["protection","talkid","watched","watchers","visitingwatchers","notificationtimestamp","subjectid","url","readable","preload","displaytitle"]},{"name":"testactions","multi":"","lowlimit":50,"highlimit":500,"limit":50,"type":"string"},{"name":"token","deprecated":"","multi":"","lowlimit":50,"highlimit":500,"limit":50,"type":["edit","delete","protect","move","block","unblock","email","import","watch"]},{"name":"continue","type":"string"}]}]}}'}
    headers:
      Backend-Timing: [D=31562 t=1516018581182783]
      Content-Disposition: [inline; filename="api-result.json"]
      Content-Type: [application/json; charset=utf-8]
      X-Analytics: [ns=-1;special=Badtitle;https=1;nocookies=1]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?action=query&meta=siteinfo%7Cuserinfo&siprop=extensions&continue=&uiprop=blockinfo%7Chasmsg&maxlag=5&format=json
  response:
    body: {string: '{"batchcomplete":"","query":{"extensions":[{"type":"media","name":"TimedMediaHandler","namemsg":"timedmediahandler-extensionname","descriptionmsg":"timedmediahandler-desc","author":"Michael
        Dale, Tim Starling, James Heinrich, Jan Gerber, Brion Vibber, Derk-Jan Hartman","url":"https://www.mediawiki.org/wiki/Extension:TimedMediaHandler","version":"0.5.0","vcs-system":"git","vcs-version":"2e87f7e593b404f4a0891771ba05a33a9128039b","vcs-url":"https://phabricator.wikimedia.org/r/revision/mediawiki/extensions/TimedMediaHandler;2e87f7e593b404f4a0891771ba05a33a9128039b","vcs-date":"2018-01-01T08:20:50Z","license-name":"GPL-2.0+","license":"/wiki/Special:Version/License/TimedMediaHandler"},{"type":"media","name":"GWToolset","descriptionmsg":"gwtoolset-desc","author":"dan
        entous","url":"https://www.mediawiki.org/wiki/Extension:GWToolset","version":"0.3.8","vcs-system":"git","vcs-version":"fd04b014fc81dda4a918c38acc37a2823dade6cf","vcs-url":"https://phabricator.wikimedia.org/r/revision/mediawiki/extensions/GWToolset;fd04b014fc81dda4a918c38acc37a2823dade6cf","vcs-date":"2017-12-31T08:46:43Z","license-name":"GPL-3.0+","license[...]
- request:
    body: null
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?titles=Data%3ANcei.noaa.gov%2Fweather%2FNew+York+City.tab&inprop=protection&prop=info&action=query&indexpageids=&continue=&meta=userinfo&uiprop=blockinfo%7Chasmsg&maxlag=5&format=json
  response:
    body: {string: '{"batchcomplete":"","query":{"pageids":["53910620"],"pages":{"53910620":{"pageid":53910620,"ns":486,"title":"Data:Ncei.noaa.gov/weather/New
        York City.tab","contentmodel":"Tabular.JsonConfig","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr","touched":"2017-10-17T21:00:09Z","lastrevid":263335844,"length":78496,"protection":[],"restrictiontypes":["edit","move"]}},"userinfo":{"id":0,"name":"192.0.2.42","anon":""}}}'}
    headers:
      Backend-Timing: [D=38092 t=1516018582459083]
      Content-Disposition: [inline; filename="api-result.json"]
      Content-Type: [application/json; charset=utf-8]
      X-Analytics: [ns=-1;special=Badtitle;https=1;nocookies=1]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: GET
    uri: https://www.wikidata.org/w/api.php?ids=P6&action=wbgetentities&maxlag=5&format=json
  response:
    body: {string: '{"entities":{"P6":{"pageid":3916689,"ns":120,"title":"Property:P6","lastrevid":616636440,"modified":"2018-01-04T21:03:45Z","type":"property","datatype":"wikibase-item","id":"P6","labels":{"en":{"language":"en","value":"head
        of government"},"it":{"language":"it","value":"capo del governo"},"de":{"language":"de","value":"Leiter
        der Regierung oder Verwaltung"},"fr":{"language":"fr","value":"chef de l''ex\u00e9cutif"},"fi":{"language":"fi","value":"hallituksen
        johtaja"},"cs":{"language":"cs","value":"p\u0159edstavitel"},"zh-hans":{"language":"zh-hans","value":"\u653f\u5e9c\u9996\u957f"},"hu":{"language":"hu","value":"korm\u0[...]
